<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## Create a Dataframe from dictionary

In [7]:
dict1 = {
    "name": ["Harry", "Rohan", "Radha", "Shubh"],
    "marks": [92, 34, 24, 17],
    "city": ["Rampur", "Kolkata", "Bareily", "Antarctica"],
    "gender": ['M', "M", "F", "M"]
}

In [8]:
df1 = pd.DataFrame(dict1)

print(df1)
print(type(df1))

    name  marks        city gender
0  Harry     92      Rampur      M
1  Rohan     34     Kolkata      M
2  Radha     24     Bareily      F
3  Shubh     17  Antarctica      M
<class 'pandas.core.frame.DataFrame'>

## 1. Display the top 3 rows of a dataframe

In [9]:
df1.head(3)

    name  marks     city gender
0  Harry     92   Rampur      M
1  Rohan     34  Kolkata      M
2  Radha     24  Bareily      F

## 2. Display the last 3 rows of a Dataframe

In [10]:
df1.tail(3)

    name  marks        city gender
1  Rohan     34     Kolkata      M
2  Radha     24     Bareily      F
3  Shubh     17  Antarctica      M

## 3. Shape of the dataframe

In [12]:
df1.shape ## shape if a attribute and not function

(4, 4)

## 4. General info about the dataframe

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   marks   4 non-null      int64
 2   city    4 non-null      object
 3   gender  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes

## 5. Check for NULL values in the DF

- isnull() and isna() are aliases of each other

In [16]:
df1.isnull()

    name  marks   city  gender
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False
3  False  False  False   False

In [17]:
  df1.isna()

    name  marks   city  gender
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False
3  False  False  False   False

In [18]:
df1.isnull().sum() ## column wise

name      0
marks     0
city      0
gender    0
dtype: int64

In [23]:
df1.isnull().sum(axis=1) ## row wise

0    0
1    0
2    0
3    0
dtype: int64

## 6. Statistics of DF

In [24]:
df1.describe() ## only considers numerical column

          marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [25]:
df1.describe(include='all') ## gives statistics for all the columns

         name     marks    city gender
count       4   4.00000       4      4
unique      4       NaN       4      2
top     Harry       NaN  Rampur      M
freq        1       NaN       1      3
mean      NaN  41.75000     NaN    NaN
std       NaN  34.21866     NaN    NaN
min       NaN  17.00000     NaN    NaN
25%       NaN  22.25000     NaN    NaN
50%       NaN  29.00000     NaN    NaN
75%       NaN  48.50000     NaN    NaN
max       NaN  92.00000     NaN    NaN

## 7. Find the unique values from the gender column

In [26]:
df1

    name  marks        city gender
0  Harry     92      Rampur      M
1  Rohan     34     Kolkata      M
2  Radha     24     Bareily      F
3  Shubh     17  Antarctica      M

In [27]:
df1['gender'].unique()

array(['M', 'F'], dtype=object)

In [28]:
print(df1['gender'].unique())

['M' 'F']

In [29]:
len(df1['gender'].unique()) ## to check the number of unique values

2

In [30]:
df1['gender'].nunique() ## alternate to len() - gives the number of unique values in the column

2

In [32]:
df1['gender'].value_counts() ## to check the distribution of unique values

gender
M    3
F    1
Name: count, dtype: int64

## 8. Students who have score marks between 90 - 100

In [33]:
df1

    name  marks        city gender
0  Harry     92      Rampur      M
1  Rohan     34     Kolkata      M
2  Radha     24     Bareily      F
3  Shubh     17  Antarctica      M

In [37]:
df1['marks'] >= 90

0     True
1    False
2    False
3    False
Name: marks, dtype: bool

In [38]:
df1[df1['marks'] >= 90]

    name  marks    city gender
0  Harry     92  Rampur      M

In [48]:
df1[(df1['marks'] >= 90) & (df1['marks'] <= 100)]   ## for multiple expressions have to use brackets

    name  marks    city gender
0  Harry     92  Rampur      M

In [47]:
df1[(df1['marks']>=30) & (df1['marks']<90)]

    name  marks     city gender
1  Rohan     34  Kolkata      M

In [51]:
df1[(df1['marks']>=90) & (df1['marks']<=100)].value_counts() ## number of students who scored between 90-100

name   marks  city    gender
Harry  92     Rampur  M         1
Name: count, dtype: int64

In [52]:
len(df1[(df1['marks'] >= 90) & (df1['marks'] <= 100)]) ## number of students who scored between 90-100

1

In [53]:
df1['marks'].mean()   ## avg of marks column

np.float64(41.75)

In [54]:
print(df1['marks'].mean())

41.75

## 9. User Defined Function on a specific column

In [60]:
def marksby2(x):
  return x/2

In [57]:
df1

    name  marks        city gender
0  Harry     92      Rampur      M
1  Rohan     34     Kolkata      M
2  Radha     24     Bareily      F
3  Shubh     17  Antarctica      M

In [61]:
df1['marks'].apply(marksby2)

0    46.0
1    17.0
2    12.0
3     8.5
Name: marks, dtype: float64

In [63]:
df1['half_marks'] = df1['marks'].apply(marksby2)
df1

    name  marks        city gender  half_marks
0  Harry     92      Rampur      M        46.0
1  Rohan     34     Kolkata      M        17.0
2  Radha     24     Bareily      F        12.0
3  Shubh     17  Antarctica      M         8.5

## 10. Convert gender column into a numerical  column

In [65]:
df1['gender'].map({'M':1 , 'F':2})

0    1
1    1
2    2
3    1
Name: gender, dtype: int64

In [67]:
df1['gender_numerical'] = df1['gender'].map({'M':1,'F':2})
df1

    name  marks        city gender  half_marks  gender_numerical
0  Harry     92      Rampur      M        46.0                 1
1  Rohan     34     Kolkata      M        17.0                 1
2  Radha     24     Bareily      F        12.0                 2
3  Shubh     17  Antarctica      M         8.5                 1

## 11. Drop a column

In [69]:
df1.columns

Index(['name', 'marks', 'city', 'gender', 'half_marks', 'gender_numerical'], dtype='object')

In [71]:
df1.drop('half_marks', axis=1)  ## doesnt change the df

    name  marks        city gender  gender_numerical
0  Harry     92      Rampur      M                 1
1  Rohan     34     Kolkata      M                 1
2  Radha     24     Bareily      F                 2
3  Shubh     17  Antarctica      M                 1

In [72]:
df1

    name  marks        city gender  half_marks  gender_numerical
0  Harry     92      Rampur      M        46.0                 1
1  Rohan     34     Kolkata      M        17.0                 1
2  Radha     24     Bareily      F        12.0                 2
3  Shubh     17  Antarctica      M         8.5                 1

In [73]:
df1.drop('half_marks',axis=1, inplace=True)  ## inplace=True changes the dataframe

In [74]:
df1

    name  marks        city gender  gender_numerical
0  Harry     92      Rampur      M                 1
1  Rohan     34     Kolkata      M                 1
2  Radha     24     Bareily      F                 2
3  Shubh     17  Antarctica      M                 1

In [75]:
df1.columns

Index(['name', 'marks', 'city', 'gender', 'gender_numerical'], dtype='object')

## 12. Sort a column

In [76]:
df1.sort_values(by = 'marks')

    name  marks        city gender  gender_numerical
3  Shubh     17  Antarctica      M                 1
2  Radha     24     Bareily      F                 2
1  Rohan     34     Kolkata      M                 1
0  Harry     92      Rampur      M                 1

In [77]:
df1

    name  marks        city gender  gender_numerical
0  Harry     92      Rampur      M                 1
1  Rohan     34     Kolkata      M                 1
2  Radha     24     Bareily      F                 2
3  Shubh     17  Antarctica      M                 1

In [78]:
df1.sort_values(by='marks',ascending=False)

    name  marks        city gender  gender_numerical
0  Harry     92      Rampur      M                 1
1  Rohan     34     Kolkata      M                 1
2  Radha     24     Bareily      F                 2
3  Shubh     17  Antarctica      M                 1

## 13. Read from Salaries.cv and perform operations

In [80]:
df2 = pd.read_csv('/content/sample_data/Salaries.csv')

In [81]:
df2

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97375,97376,Amelie E Bullard,Special Nurse,66234.96,6159.72,3867.46,4632.18,76262.14,80894.32,2013.0,NaN,San Francisco,NaN
97376,97377,Timothy J Stocks,Food Service Worker,47319.65,7971.59,1051.76,24546.17,56343.00,80889.17,2013.0,NaN,San Francisco,NaN
97377,97378,Heath Guillory,General Laborer,53930.74,3193.09,981.98,22782.31,58105.81,80888.12,2013.0,NaN,San Francisco,NaN
97378,97379,Grace L Dao,Custodian,48268.60,2382.64,4108.88,26116.14,54760.12,80876.26,2013.0,NaN,San Francisco,NaN
97379,97380,Amada U Abul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df2.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

In [83]:
df2.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

## Questions

1.  Display Top 10 Rows of The Dataset

2. Check Last 10 Rows of The Dataset

3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

4.  Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

5. Check Null Values In The Dataset

6. Drop ID, Notes, Agency, and Status Columns

7. Get Overall Statistics About The Dataframe

8. Find Occurrence of The Employee Names  (Top 5)

9. Find The Number of Unique Job Titles

10.Total Number of Job Titles Contain Captain

11. Display All the Employee Names From Fire Department

12. Find Minimum, Maximum, and Average BasePay

13. Replace 'Not Provided' in EmployeeName' Column to NaN

15. Find Job Title of ALBERT PARDINI

16. How Much ALBERT PARDINI Make (Include Benefits)?

17.Display Name of The Person Having The Highest BasePay

18. Find Top 5 Most Common Jobs

In [85]:
## 1

df2.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011.0,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011.0,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011.0,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011.0,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011.0,NaN,San Francisco,NaN

In [86]:
## 2
df2.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
97370,97371,Robert McNeill,Gardener,55575.65,154.35,0.00,25180.03,55730.00,80910.03,2013.0,NaN,San Francisco,NaN
97371,97372,Kathryne M Mauricio,Patient Care Assistant,49375.30,5854.83,250.00,25427.93,55480.13,80908.06,2013.0,NaN,San Francisco,NaN
97372,97373,Vicky D Griffith,Senior Account Clerk,57042.04,1364.30,0.00,22500.82,58406.34,80907.16,2013.0,NaN,San Francisco,NaN
97373,97374,Albert P Pope,Parking Control Officer,44762.21,9549.21,2634.30,23960.10,56945.72,80905.82,2013.0,NaN,San Francisco,NaN
97374,97375,Minyi Wang,Custodian,48303.80,2092.07,4326.10,26177.01,54721.97,80898.98,2013.0,NaN,San Francisco,NaN
97375,97376,Amelie E Bullard,Special Nurse,66234.96,6159.72,3867.46,4632.18,76262.14,80894.32,2013.0,NaN,San Francisco,NaN
97376,97377,Timothy J Stocks,Food Service Worker,47319.65,7971.59,1051.76,24546.17,56343.00,80889.17,2013.0,NaN,San Francisco,NaN
97377,97378,Heath Guillory,General Laborer,53930.74,3193.09,981.98,22782.31,58105.81,80888.12,2013.0,NaN,San Francisco,NaN
97378,97379,Grace L Dao,Custodian,48268.60,2382.64,4108.88,26116.14,54760.12,80876.26,2013.0,NaN,San Francisco,NaN
97379,97380,Amada U Abul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
## 3

df2.shape

(97380, 13)

In [88]:
## 4

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97380 entries, 0 to 97379
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                97380 non-null  int64
 1   EmployeeName      97380 non-null  object
 2   JobTitle          97379 non-null  object
 3   BasePay           97371 non-null  float64
 4   OvertimePay       97379 non-null  float64
 5   OtherPay          97379 non-null  float64
 6   Benefits          61220 non-null  float64
 7   TotalPay          97379 non-null  float64
 8   TotalPayBenefits  97379 non-null  float64
 9   Year              97379 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            97379 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 9.7+ MB

In [89]:
## 5

df2.isna()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,False,False,False,False,False,False,True,False,False,False,True,False,True
1,False,False,False,False,False,False,True,False,False,False,True,False,True
2,False,False,False,False,False,False,True,False,False,False,True,False,True
3,False,False,False,False,False,False,True,False,False,False,True,False,True
4,False,False,False,False,False,False,True,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97375,False,False,False,False,False,False,False,False,False,False,True,False,True
97376,False,False,False,False,False,False,False,False,False,False,True,False,True
97377,False,False,False,False,False,False,False,False,False,False,True,False,True
97378,False,False,False,False,False,False,False,False,False,False,True,False,True
97379,False,False,True,True,True,True,True,True,True,True,True,True,True

In [90]:
df2.isna().sum()

Id                      0
EmployeeName            0
JobTitle                1
BasePay                 9
OvertimePay             1
OtherPay                1
Benefits            36160
TotalPay                1
TotalPayBenefits        1
Year                    1
Notes               97380
Agency                  1
Status              97380
dtype: int64

In [91]:
## 6

df2.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [94]:
df2.drop(['Id','Notes','Agency','Status'],axis=1,inplace=True)

In [95]:
df2.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [99]:
## 7

df2.describe(include='all')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,97380,97379,97371.000000,97379.000000,97379.000000,61220.000000,97379.000000,97379.000000,97379.000000
unique,92547,2113,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Kevin Lee,Transit Operator,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,9,3932,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,71901.851540,5540.156950,4044.895668,28984.336214,81480.997188,99702.801304,2011.879800
std,NaN,NaN,41211.411676,11941.022553,8539.910138,13496.092281,48911.396876,60062.465245,0.779745
min,NaN,NaN,-166.010000,-0.010000,-7058.590000,0.000000,0.000000,0.000000,2011.000000
25%,NaN,NaN,48472.450000,0.000000,0.000000,25531.210000,52658.435000,58664.330000,2011.000000
50%,NaN,NaN,69057.100000,39.260000,1080.000000,31468.765000,77454.000000,98568.440000,2012.000000
75%,NaN,NaN,99014.400000,5563.145000,4881.375000,36962.200000,111425.455000,135781.360000,2013.000000
max,NaN,NaN,319275.010000,245131.880000,400184.250000,86533.210000,567595.430000,567595.430000,2013.000000

In [105]:
## 8
df2['EmployeeName'].value_counts().head(5)

EmployeeName
Kevin Lee      9
KEVIN LEE      9
DAVID WONG     8
MICHAEL LEE    8
RICHARD LEE    8
Name: count, dtype: int64

In [115]:
## 9
df2['JobTitle'].nunique()

2113

In [116]:
len(df2['JobTitle'].unique())

2114

In [122]:
## 10
df2['JobTitle'].str.contains('CAPTAIN').sum()

141

In [128]:
## 11
df2['JobTitle'].str.contains('FIRE',case=False)

0        False
1        False
2        False
3        False
4         True
         ...
97375    False
97376    False
97377    False
97378    False
97379      NaN
Name: JobTitle, Length: 97380, dtype: object

In [133]:
df2.dropna(inplace=True)

In [135]:
df2[df2['JobTitle'].str.contains('Fire',case=False)]['EmployeeName']

36159          Gary Altenberg
36162      Joanne Hayes-White
36163       Frederick Binkley
36168          David Franklin
36169            Brendan Ward
                 ...
95091       Andrew A Burda Jr
95166         Larry  Bradshaw
95258       Leonardo M Harris
96265    Joaquinn  Villarreal
96609          Joshua G Smith
Name: EmployeeName, Length: 2814, dtype: object

In [137]:
## 12.
df2['BasePay'].min()

319275.01

In [138]:
df2['BasePay'].max()

319275.01

In [140]:
df2['BasePay'].mean()

np.float64(76808.28913628048)

In [141]:
df2['BasePay'].describe()

count     61212.000000
mean      76808.289136
std       40806.880442
min        -166.010000
25%       55123.285000
50%       73738.015000
75%      103766.235000
max      319275.010000
Name: BasePay, dtype: float64

In [146]:
## 13.

df2[df2['EmployeeName'] == 'Not Provided']

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
44151,Not Provided,Public SafetyComm Disp,82196.52,25934.2,3752.49,38024.3,111883.21,149907.51,2012.0

In [151]:
df2['EmployeeName'] = df2['EmployeeName'].replace('Not Provided','NaN')

In [152]:
df2['EmployeeName'] = df2['EmployeeName'].replace('Not Provided',np.nan)

In [157]:
## 15

df2[df2['EmployeeName'] == 'Albert Pardini']['JobTitle']

36519    Captain 3
Name: JobTitle, dtype: object

In [162]:
df2[df2['EmployeeName'] == 'Albert Pardini']

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
36519,Albert Pardini,Captain 3,196265.04,0.0,11404.04,46326.21,207669.08,253995.29,2012.0

In [166]:
df3 = df2[df2['EmployeeName'] == 'Albert Pardini']

In [168]:
df3['TotalPay'] + df3['TotalPayBenefits']

36519    461664.37
dtype: float64

In [172]:
## 17
df2[df2['BasePay'] == df2['BasePay'].max()]['EmployeeName']

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [175]:
## 18

df2['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator    3932
Registered Nurse    2417
Special Nurse       1664
Police Officer 3    1587
Firefighter         1490
Name: count, dtype: int64