<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
dict1 = {
    "name": ["Harry", "Rohan", "Radha", "Shubh"],
    "marks": [92, 34, 24, 17],
    "city": ["Rampur", "Bareily", "Kolkata", "Antarctica"],
    "gender": ['M', "M", "F", "M"]
}

In [5]:
df1 = pd.DataFrame(dict1)

print(df1)

    name  marks        city gender
0  Harry     92      Rampur      M
1  Rohan     34     Bareily      M
2  Radha     24     Kolkata      F
3  Shubh     17  Antarctica      M