<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/Python_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello World")

hello World

# Variable test - memory assigned to value not variable

In [ ]:
a = 100

print(id(a))

10754024

In [ ]:
 b = 100

 print(id(b))

10754024

In [ ]:
c = a
print(id(c))

10754024

### a, b , c all had same memory address. changing value of a changes address of a

In [ ]:
a = 50
print(id(a))

10752424

In [ ]:
print(b)
print(id(b))

100
10754024

In [ ]:
print({hex(10754024)})

{'0xa417e8'}

# variable assignement

In [ ]:
a = 10
b = 20
c = 30
print(a,b,c)

10 20 30

In [ ]:
a,b,c=40,50,60
print(a,b,c)

40 50 60

In [ ]:
a = 10
b = 10
c = 10
print(a,b,c)

10 10 10

In [ ]:
a=b=c=20
print(a,b,c)

20 20 20

# check list of keywords

### keywords are special words, reserved words,cannot be used as variables

In [ ]:
import keyword as kw

print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False = 10      # keywords cannot be used as variable
print(false)

SyntaxError: cannot assign to False (<ipython-input-26-5fd04c61f208>, line 1)

In [ ]:
false = 10    # keywords are case sensitive
print(false)

10

In [ ]:
'''
This is
a
multiline
comment
'''

' \nThis is\na\nmultiline\ncomment\n'

# Day 3 - Data types (LIst, Tuples, Dictionary, Set)

## List

In [15]:
# Define list - collection / sequence of values of different data types
lst = [10, 23.5, 'aba', 3+4j, [23,32,487]]

print(type(lst)) ### type() to print the data type

print(lst)

<class 'list'>
[10, 23.5, 'aba', (3+4j), [23, 32, 487]]

## Variable Annotation

### use annotations at start of code to help other developers understand the data type of variables

In [7]:
var1 : int = 10
print(var1)
print(type(var1))
print(__annotations__['var1'])

10
<class 'int'>
<class 'int'>

In [8]:
var2 : int = 'NTT'
print(var2)
print(type(var2))
print(__annotations__['var2'])

NTT
<class 'str'>
<class 'int'>

In [12]:
# isinstance()

if isinstance(var1,int)==True:
  print('var is int')

var is int

In [14]:
# isinstance()

if isinstance(var2,int)==True:
  print('var is int')
else:
  print('var is not int')

var is not int