<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/Python_M2_Day14-OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# OOPS:
## Class
- is like a template or blueprint or design
- No memory is created for class
- Memory is created for the object of the class
- Object is the instance of the class

*   Attributes - data or variables
*   Method - Behaviour or operations on the data/variable

- Class variables (defined outside the __init__ function) - one variable for all objects of the class
- Instance variables (defined within the __init__ function) - specific to object

- Instance method
- Class method - used to modify class variable - declared using @classmethod  decorator

In [ ]:
# Class definition- class Class_name:
class Calculator:

  # attributes
  n1=0
  n2=0
  res=0

  # methods/behaviour

  def __init__(self,n1,n2):   ## Constructor called implicitly during object creation
    self.n1=n1
    self.n2=n2
    self.res=0

  def add(self,n1,n2):
    pass

  def sub(self,n1,n2):
    pass

  def mul(self,n1,n2):
    pass

  def div(self,n1,n2):
    pass

obj1 = Calculator(10,20)  # object creation
obj2 = Calculator(100,200)  # object creation

In [ ]:
# Class example

class Sample:

  def __init__(self):
    self.data = 10

  def input_data(self):
    self.data = input("Enter some data: ")

  def process_data(self):
    self.data = self.data.upper()

  def output_data(self):
    print(self.data)

# object creation
obj1 = Sample()
obj2 = Sample()
obj3 = Sample()

#
obj1.output_data()
print(obj1.data)
obj1.input_data()
obj1.process_data()
obj1.output_data()

obj2.output_data()
obj2.input_data()
obj2.process_data()
obj2.output_data()

obj3.output_data()
obj3.input_data()
obj3.process_data()
obj3.output_data()

10
10
Enter some data: ab
AB
10
Enter some data: abc
ABC
10
Enter some data: acask
ACASK

In [ ]:
# Class definition- class Class_name:
class Calculator:

  # methods/behaviour

  def __init__(self):
    self.n1=0
    self.n2=0
    self.res=0

  def get_data(self):
    self.n1 = int(input('Enter 1st number: '))
    self.n2 = int(input('Enter 2nd number: '))

  def add(self):
    self.res = self.n1+self.n2
    print(self.res)

  def sub(self):
    self.res = self.n1 - self.n2
    print(self.res)

  def mul(self):
    self.res = self.n1 * self.n2
    print(self.res)

  def div(self):
    self.res = self.n1 / self.n2
    print(self.res)

  def compare(self, other):
    if self.n1 == other.n1 and self.n2 == other.n2:
      print("Same")
    else:
      print("Different")

obj1 = Calculator()  # object creation
obj1.get_data()
obj1.add()
obj1.sub()
obj1.mul()
obj1.div()

obj2 = Calculator()  # object creation
obj2.get_data()
obj2.add()
obj2.sub()
obj2.mul()
obj2.div()

obj1.compare(obj2)

Enter 1st number: 10
Enter 2nd number: 5
15
5
50
2.0
Enter 1st number: 8
Enter 2nd number: 3
11
5
24
2.6666666666666665
Different

In [ ]:
# method without self keyword

class Sample:
  def test():
    print('Hi')

o1 = Sample()
o1.test()  ## self keyword is mandatory

TypeError: Sample.test() takes 0 positional arguments but 1 was given

In [ ]:
# Non - parameteized constructor

class Student:

  def __init__(self):
    self.name = ''
    self.age = 0
    self.m1 = 0
    self.m2 = 0
    self.m3 = 0
    self.avg = 0


  def get_data(self):
    self.name = input("Enter student name: ")
    self.age = int(input("Enter sudent's age: "))
    self.m1 = int(input("Enter m1: "))
    self.m2 = int(input("Enter m2: "))
    self.m3 = int(input("Enter m3: "))

  def calc_avg(self):
    self.avg = (self.m1+self.m2+self.m3)/3

  def student_data(self):
    print("Name: ",self.name)
    print('Age: ',self.age)
    print('Marks: ',self.m1,self.m2,self.m3)
    print('Avg: ',self.avg)

s1 = Student()
s1.get_data()
s1.calc_avg()
s1.student_data()

Enter student name: Ria
Enter sudent's age: 10
Enter m1: 98
Enter m2: 89
Enter m3: 89
Name:  Ria
Age:  10
Marks:  98 89 89
Avg:  92.0
<class 'float'>

In [ ]:
# Parameterized constructor

class Test:

  def __init__(self,a,b):
    self.a = a
    self.b = b

  def output_data(self):
    print(self.a,self.b)

t1 = Test(10,20)
t2 = Test(1.1,2.4)

t1.output_data()
t2.output_data()

10 20
1.1 2.4

In [ ]:
# Parameteized constructor

class Student:

  def __init__(self,name,age,m1,m2,m3):
    self.name = name
    self.age = age
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3
    self.avg = 0


  def calc_avg(self):
    self.avg = (self.m1+self.m2+self.m3)/3

  def student_data(self):
    print("Name: ",self.name)
    print('Age: ',self.age)
    print('Marks: ',self.m1,self.m2,self.m3)
    print('Avg: ',self.avg)

s1 = Student('Ria',10,98,89,92)
s1.calc_avg()
s1.student_data()

Name:  Ria
Age:  10
Marks:  98 89 92
Avg:  93.0

In [ ]:
# Parameterized constructor

class Employee:

  def __init__(self,name,id,dept,bsal):
    self.emp_name = name
    self.emp_id = id
    self.emp_dept = dept
    self.bsal = bsal
    self.bonus = 20
    self.fsal = 0

  def cal_sal(self):
    self.fsal = self.bsal + (self.bsal*self.bonus/100)

  def output_data(self):
    print('Name: ',self.emp_name)
    print('Id: ',self.emp_id)
    print('Dept: ',self.emp_dept)
    print('Total Salary: ',self.fsal)

e1 = Employee('Ria',101,'Tech',10000)
e1.cal_sal()
e1.output_data()

Name:  Ria
Id:  101
Dept:  Tech
Total Salary:  12000.0

In [ ]:
# Default constructor - when we dont need to initialize any class attributes then we can skip __init__. default constructor will automatically be called

class Default:
  def test(self):
    print('Default constructor class')

o = Default()
o.test()

Default constructor class

## Class Variable

In [ ]:
# class variable
# Interview question: How to keep count of objects created for a class

class Student:

  student_count = 0 ## class variable
  college_name = 'IIT'

  def __init__(self,name,age):
    self.name = name      ## instance variable
    self.age = age
    Student.student_count += 1
    print(Student.student_count)

  def display(self):
    print(self.name,self.age, Student.college_name)

s1 = Student('A',20)
s1.display()
s2 = Student('B',19)
s2.display()
s3 = Student('C',19)
s3.display()

# Other ways to access class variable
print(Student.college_name)
print(s1.college_name)
print(s2.student_count)

1
A 20 IIT
2
B 19 IIT
3
C 19 IIT
IIT
IIT
3

In [ ]:
# class variable
# Interview question: How to keep count of objects created for a class

class Student:

  student_count = 0 ## class variable
  college_name = 'IIT'

  def __init__(self,name,age,college_name = 'IIT'):
    self.name = name      ## instance variable
    self.age = age
    Student.student_count += 1
    self.college_name = college_name
    print(Student.student_count)

  def display(self):
    print(self.name,self.age, Student.college_name,self.college_name)

s1 = Student('A',20)
s1.display()
s2 = Student('B',19,'UVCE')
s2.display()
s3 = Student('C',19)
s3.display()


# Other ways to access class variable
print(Student.college_name)
print(s2.college_name)
print(s1.student_count)

1
A 20 IIT IIT
2
B 19 IIT UVCE
3
C 19 IIT IIT
IIT
UVCE
3

## Class Method

In [ ]:
## Class Method

class Student:

  student_count = 0 ## class variable
  college_name = 'IIT'

  def __init__(self,name,age):
    self.name = name      ## instance variable
    self.age = age
    Student.student_count += 1
    print(Student.student_count)

  @classmethod            ## Class Method
  def get_college(cls):
    print(cls.college_name)

  def display(self):
    print(self.name,self.age, Student.college_name)

s1 = Student('A',20)
s1.display()
s2 = Student('B',19)
s2.display()
s3 = Student('C',19)
s3.display()


# call class method
Student.get_college()

1
A 20 IIT
2
B 19 IIT
3
C 19 IIT
IIT

# Inheritance

In [ ]:
# Inheritance
## Without Inheritance

class Employee:
  bonus = 2000
  def display(self):
    print('This is employee class method')


class Manager:
  bonus1 = 5000
  def show(self):
    print('This is manager class method')

e1 = Employee()
e1.display()

m1 = Manager()
m1.show()

m1.bonus # Since not inherited, employee class variable cannot be accessed via manager

This is employee class method
This is manager class method

AttributeError: 'Manager' object has no attribute 'bonus'

In [ ]:
## With Inheritance

class Employee:
  bonus = 2000
  def display(self):
    print('this is employee method')

class Manager(Employee):
  bonus1 = 5000
  def show(self):
    print('This is manager method')

e1 = Employee()
e1.display()

m1 = Manager()
m1.show()

m1.bonus

this is employee method
This is manager method

2000

In [ ]:
## Constructors in inheritance

class Father:
  def __init__(self):
    print('Father constructor called')
    self.vehicle = 'Scooter'

class Son(Father):
  # def __init__(self):
  #   print('Son constructor called')
  pass

s = Son()
print(s.__dict__)

Father constructor called
{'vehicle': 'Scooter'}

In [ ]:
## Constructors in inheritance

class Father:
  def __init__(self):
    print('Father constructor called')
    self.vehicle = 'Scooter'

class Son(Father):
  def __init__(self):
    print('Son constructor called')

s = Son()
print(s.__dict__)

Son constructor called
{}

In [ ]:
## Constructors in inheritance - super method

class Father:
  def __init__(self):
    print('Father constructor called')
    self.vehicle = 'Scooter'

class Son(Father):
  def __init__(self):
    print('Son constructor called')
    super().__init__()

s = Son()
print(s.__dict__)

Son constructor called
Father constructor called
{'vehicle': 'Scooter'}

In [ ]:
# Super method

class Computer:
  def __init__(self):
    print('Computer class constructor')
    self.ram = '8GB'
    self.processor = 'i5'

class Mobile(Computer):
  def __init__(self):
    super().__init__()
    print('Mobile class constructor')
    self.model = 'android'

m1 = Mobile()
print(m1.__dict__)

Computer class constructor
Mobile class constructor
{'ram': '8GB', 'processor': 'i5', 'model': 'android'}

In [ ]:
# Parameterized super method

class Computer:
  def __init__(self, ram, processor):
    print('Computer class constructor')
    self.ram = ram
    self.processor = processor

class Mobile(Computer):
  def __init__(self,model,processor,ram):
    print('Mobile class constructor')
    super().__init__(ram,processor)
    self.model = model

m1 = Mobile('android','i5','8GB')
print(m1.__dict__)

Mobile class constructor
Computer class constructor
{'ram': '8GB', 'processor': 'i5', 'model': 'android'}

In [ ]:
# Class variable inheritance

class Parent:
  parent_class_var = 'parent'

  def __init__(self,name):
    self.name = name

class Child(Parent):
  child_class_var = 'child'

  def __init__(self,age,name):
    self.age = age
    super().__init__(name)

  def print_variable(self):
    print('Name: ',self.name)
    print('Age: ',self.age)
    print('Parent class var: ',self.parent_class_var)
    print('Child class ar: ',self.child_class_var)

c1 = Child(3,'Jake')

print(Parent.parent_class_var)
print(Child.child_class_var)

c1.print_variable()

parent
child
Name:  Jake
Age:  3
Parent class var:  parent
Child class ar:  child

In [ ]:
# Multi-level Inheritance

class Grandfather:
  gf_attribute = 'GFs trait'

  def display_gf(self):
    print(self.gf_attribute)

class Father(Grandfather):
  f_attribute = 'Fathers trait'

  def display_father(self):
    print(self.f_attribute)

class Child(Father):
  child_attribute = 'Childs trait'

  def display_child(self):
    print(self.child_attribute)

c1 = Child()

c1.display_child()
c1.display_father()
c1.display_gf()

print(c1.__dict__)

print(c1.child_attribute)
print(c1.f_attribute)
print(c1.gf_attribute)

print(Child.child_attribute)
print(Child.f_attribute)
print(Child.gf_attribute)

Childs trait
Fathers trait
GFs trait
{}
Childs trait
Fathers trait
GFs trait
Childs trait
Fathers trait
GFs trait

In [ ]:
# Constructor in multi-level inheritance

class Human():
  def __init__(self):
    print('Human class cosntructor')
    self.name = 'Radha'

class Employee(Human):
  def __init__(self):
    print('Employee class constructor')
    self.salary = 20000

class Manager(Employee):
  def __init__(self):
    print('Manager class constructor')
    self.bonus = 20

m1 = Manager()
print(m1.__dict__)

Manager class constructor
{'bonus': 20}

In [ ]:
# Constructor in multi-level inheritance

class Human():
  def __init__(self):
    print('Human class cosntructor')
    self.name = 'Radha'

class Employee(Human):
  def __init__(self):
    print('Employee class constructor')
    self.salary = 20000

class Manager(Employee):
  # def __init__(self):
  #   print('Manager class constructor')
  #   self.bonus = 20
  pass

m1 = Manager()
print(m1.__dict__)

Employee class constructor
{'salary': 20000}

In [ ]:
# Constructor in multi-level inheritance

class Human():
  def __init__(self):
    print('Human class cosntructor')
    self.name = 'Radha'

class Employee(Human):
  # def __init__(self):
  #   print('Employee class constructor')
  #   self.salary = 20000
  pass

class Manager(Employee):
  # def __init__(self):
  #   print('Manager class constructor')
  #   self.bonus = 20
  pass

m1 = Manager()
print(m1.__dict__)

Human class cosntructor
{'name': 'Radha'}

In [ ]:
# Constructor in multi-level inheritance

class Human():
  # def __init__(self):
  #   print('Human class cosntructor')
  #   self.name = 'Radha'
  pass

class Employee(Human):
  # def __init__(self):
  #   print('Employee class constructor')
  #   self.salary = 20000
  pass

class Manager(Employee):
  # def __init__(self):
  #   print('Manager class constructor')
  #   self.bonus = 20
  pass

m1 = Manager()
print(m1.__dict__)

{}

In [ ]:
# Constructor in multi-level inheritance

class Human():
  def __init__(self):
    print('Human class cosntructor')
    self.name = 'Radha'

class Employee(Human):
  def __init__(self):
    print('Employee class constructor')
    self.salary = 20000

class Manager(Employee):
  def __init__(self):
    super().__init__()
    print('Manager class constructor')
    self.bonus = 20

m1 = Manager()
print(m1.__dict__)

Employee class constructor
Manager class constructor
{'salary': 20000, 'bonus': 20}

In [ ]:
# Constructor in multi-level inheritance

class Human():
  def __init__(self):
    print('Human class cosntructor')
    self.name = 'Radha'

class Employee(Human):
  def __init__(self):
    super().__init__()
    print('Employee class constructor')
    self.salary = 20000

class Manager(Employee):
  def __init__(self):
    super().__init__()
    print('Manager class constructor')
    self.bonus = 20

m1 = Manager()
print(m1.__dict__)

Human class cosntructor
Employee class constructor
Manager class constructor
{'name': 'Radha', 'salary': 20000, 'bonus': 20}

In [ ]:
# Constructor in multi-level inheritance

class Human():
  def __init__(self):
    print('Human class cosntructor')
    self.name = 'Radha'

class Employee(Human):
  def __init__(self):
    super().__init__()
    print('Employee class constructor')
    self.name = 'Ram'

class Manager(Employee):
  def __init__(self):
    super().__init__()
    print('Manager class constructor')
    self.name = 'John'

m1 = Manager()
print(m1.__dict__)

Human class cosntructor
Employee class constructor
Manager class constructor
{'name': 'John'}

In [ ]:
# Constructor in multi-level inheritance

class Human():
  def __init__(self):
    print('Human class cosntructor')
    self.name = 'Radha'

class Employee(Human):
  def __init__(self):
    super().__init__()
    print('Employee class constructor')
    self.name = 'Ram'

class Manager(Employee):
  def __init__(self):
    print('Manager class constructor')
    self.name = 'John'
    super().__init__()

m1 = Manager()
print(m1.__dict__)

Manager class constructor
Human class cosntructor
Employee class constructor
{'name': 'Ram'}

In [ ]:
## Best practice

# call super().__init__() at the beginning in the child __init__()
# first pass parent class parameters, then child class parameters

In [ ]:
# Constructor in multi-level inheritance

class Human():
  def __init__(self,name):
    print('Human class cosntructor')
    self.name = name

class Employee(Human):
  def __init__(self,name,salary):
    super().__init__(name)
    print('Employee class constructor')
    self.salary = salary

class Manager(Employee):
  def __init__(self,name,salary,bonus):
    super().__init__(name,salary)
    print('Manager class constructor')
    self.bonus = bonus


m1 = Manager('Radha',20000,20)
print(m1.__dict__)

Human class cosntructor
Employee class constructor
Manager class constructor
{'name': 'Radha', 'salary': 20000, 'bonus': 20}

In [ ]:
# Hierarchical Inheritance

class Vehicle:
  mfg_country = 'India'
  def __init__(self,wheels,fuel):
    self.wheels = wheels
    self.fuel = fuel

class Car(Vehicle):
  def __init__(self,wheels,fuel,brand):
    super().__init__(wheels,fuel)
    self.brand = brand

class Bike(Vehicle):
  def __init__(self,wheels,fuel,cc):
    super().__init__(wheels,fuel)
    self.cc = cc


b1 = Bike(2,'petrol',150)
print(b1.__dict__)
c1 = Car(4,'electric','tata')
print(c1.__dict__)

print(b1.mfg_country)
print(c1.mfg_country)

print(Bike.mfg_country)
print(Car.mfg_country)

{'wheels': 2, 'fuel': 'petrol', 'cc': 150}
{'wheels': 4, 'fuel': 'electric', 'brand': 'tata'}
India
India
India
India

In [ ]:
# Multiple Ineritance

class Country:
  office = 'Delhi'

class State:
  office = 'Chennai'

class District1(Country,State):
  pass

class District2(State,Country):
  pass

d1 = District1()
print(d1.__dict__)
print(d1.office)

d2 = District2()
print(d2.__dict__)
print(d2.office)

{}
Delhi
{}
Chennai

In [ ]:
# Multiple Ineritance

class Country:
  def __init__(self):
    self.office = 'Delhi'
    self.country = 'India'

class State:
  def __init__(self):
    self.office = 'Chennai'
    self.state = 'TN'

class District1(Country,State):
  pass

class District2(State,Country):
  pass

d1 = District1()
print(d1.__dict__)


d2 = District2()
print(d2.__dict__)

{'office': 'Delhi', 'country': 'India'}
{'office': 'Chennai', 'state': 'TN'}

In [ ]:
# Multiple Ineritance

class Country:
  pass

class State:
  def __init__(self):
    self.office = 'Chennai'
    self.state = 'TN'

class District1(Country,State):
  pass

class District2(State,Country):
  pass

d1 = District1()
print(d1.__dict__)


d2 = District2()
print(d2.__dict__)

{'office': 'Chennai', 'state': 'TN'}
{'office': 'Chennai', 'state': 'TN'}

In [ ]:
# Multiple Ineritance with super method

class Country:
  def __init__(self):
    print('Country class constructor')
    self.office = 'Delhi'
    self.country = 'India'

  def get_country(self):
    print('Country method')

class State:
  def __init__(self):
    print('State class constructor')
    self.office = 'Chennai'
    self.state = 'TN'

  def display(self):
    print('State display')

class District1(Country,State):
  def __init__(self):
    print('District 1 class constructor')
    super().__init__()

class District2(State,Country):
  def __init__(self):
    print('District 2 class constructor')
    super().__init__()

d1 = District1()
print(d1.__dict__)
d1.display()


d2 = District2()
print(d2.__dict__)
d2.get_country()

District 1 class constructor
Country class constructor
{'office': 'Delhi', 'country': 'India'}
State display
District 2 class constructor
State class constructor
{'office': 'Chennai', 'state': 'TN'}
Country method

In [ ]:
# Multiple Ineritance with super method

class Country:
  def __init__(self):
    super().__init__()
    print('Country class constructor')
    self.office = 'Delhi'
    self.country = 'India'

class State:
  def __init__(self):
    print('State class constructor')
    self.office = 'Chennai'
    self.state = 'TN'

class District(Country,State):
  def __init__(self):
    super().__init__()
    print('District class constructor')

d1 = District()
print(d1.__dict__)

State class constructor
Country class constructor
District class constructor
{'office': 'Delhi', 'state': 'TN', 'country': 'India'}

In [ ]:
# Multiple Ineritance with super method

class Dummy:
  def __init__(self):
    print('Dummy constructor')

class Country:
  def __init__(self):
    super().__init__()
    print('Country class constructor')
    self.office = 'Delhi'
    self.country = 'India'

class State:
  def __init__(self):
    super().__init__()
    print('State class constructor')
    self.office = 'Chennai'
    self.state = 'TN'

class District(Country,State,Dummy):
  def __init__(self):
    super().__init__()
    print('District class constructor')

d1 = District()
print(d1.__dict__)

Dummy constructor
State class constructor
Country class constructor
District class constructor
{'office': 'Delhi', 'state': 'TN', 'country': 'India'}

In [ ]:
# Multiple Ineritance with super method

class Dummy:
  def __init__(self):
    print('Dummy constructor')

  def display(self):
    print('Dummy display')

class Country:
  def __init__(self):
    super().__init__()
    print('Country class constructor')
    self.office = 'Delhi'
    self.country = 'India'

  def display(self):
    print('Country display')

class State:
  def __init__(self):
    super().__init__()
    print('State class constructor')
    self.office = 'Chennai'
    self.state = 'TN'

  def display(self):
    print('State display')

class District(Country,State,Dummy):
  def __init__(self):
    super().__init__()
    print('District class constructor')

  def display(self):
    super().display()
    Country.display(self)
    State.display(self)
    Dummy.display(self)

d1 = District()
print(d1.__dict__)
print('*******')
d1.display()

Dummy constructor
State class constructor
Country class constructor
District class constructor
{'office': 'Delhi', 'state': 'TN', 'country': 'India'}
*******
Country display
Country display
State display
Dummy display

In [2]:
# Hybrid Inhertiance
## Method Resolution Operator (MRO)
# TO derive the order of Inheritance

class A:
  pass

class B:
  pass

class C:
  pass

class X(A,B,C):
  pass

class Y(B,C):
  pass

class P(X,Y):
  pass

print(P.mro())

[<class '__main__.P'>, <class '__main__.X'>, <class '__main__.A'>, <class '__main__.Y'>, <class '__main__.B'>, <class '__main__.C'>, <class 'object'>]

In [6]:
# Hybrid Inhertiance
## Method Resolution Order (MRO)
# TO derive the order of Inheritance

class A:
  pass

class B:
  pass

class C(A):
  pass

class X(A):
  pass

class Y(B,C):
  pass

class P(X,Y):
  pass

print(P.mro())

[<class '__main__.P'>, <class '__main__.X'>, <class '__main__.Y'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]

In [13]:
# Encapsulation
# Access specifier - Public, protected, private
# Python doesnt enforce this strictly. It just mangles the name. the mangled name can be accessed and modified outside the class. However, it is to indicate to the other developers that this is private and should not be touched outside the class

## Accessing variables outside the class without specifying access specifier

### Default - Public - x
# Private: cannot be inherited or accessed outside - _x
# Protected: can be inherited to one level but not accessed outside the class - __x
class A:
  v1 = 10

  def __init__(self):
    self.v2 = 20

a1 = A()

print(A.v1)
print(a1.v2)
print(a1.__dict__)

print('******')

class B:
  def __init__(self):
    self.v3 = 30
    a1.v2 = 40
    A.v1  = 3.3
    print(a1.v1,a1.v2)

b1 = B()
print(b1.v3)
print(b1.__dict__)

10
20
{'v2': 20}
******
3.3 40
30
{'v3': 30}

In [17]:
class Finance:
  def __init__(self):
    self.rev = 10000 # public variable
    self.sales = 100

f1 = Finance()
print(f1.__dict__)

class HR:
  def __init__(self):
    self.emp = 200
    print(f1.rev)

h1 = HR()
print(h1.__dict__)

{'rev': 10000, 'sales': 100}
10000
{'emp': 200}

In [27]:
class Finance:
  def __init__(self):
    self.__rev = 10000 # private variable
    self.sales = 100

  def getdata(self):
    print('Private variable ',self.__rev)

f1 = Finance()
print(f1.__dict__)
f1.getdata()


class HR:
  def __init__(self):
    self.emp = 200
    print(f1.__rev) # not able to access as python mangles the name

h1 = HR()
print(h1.__dict__)

{'_Finance__rev': 10000, 'sales': 100}
Private variable  10000

AttributeError: 'Finance' object has no attribute '_HR__rev'

In [28]:
class Finance:
  def __init__(self):
    self.__rev = 10000 # private variable
    self.sales = 100

  def getdata(self):
    print('Private variable ',self.__rev)

f1 = Finance()
print(f1.__dict__)
f1.getdata()


class HR:
  def __init__(self):
    self.emp = 200
    #print(f1.__rev) # not able to access as python mangles the name

h1 = HR()
print(h1.__dict__)

print('Accessing private variable outside class:', f1._Finance__rev)
f1._Finance__rev = 3.3
print('Accessing private variable outside class:', f1._Finance__rev)

{'_Finance__rev': 10000, 'sales': 100}
Private variable  10000
{'emp': 200}
Accessing private variable outside class: 10000
Accessing private variable outside class: 3.3

In [29]:
class Finance:
  def __init__(self):
    self.__rev = 10000 # private variable
    self.sales = 100

  def __getdata(self):  ##private method
    print('Private variable ',self.__rev)

f1 = Finance()
print(f1.__dict__)
f1.__getdata()

{'_Finance__rev': 10000, 'sales': 100}

AttributeError: 'Finance' object has no attribute '__getdata'

In [30]:
f1._Finance__getdata()

Private variable  10000

In [35]:
# Polumorphism

class Vehicle:
  def __init__(self, name, color, price):
    self.name = name
    self.color = color
    self.price = price

  def get_details(self):
    print(self.name)
    print(self.color)
    print(self.price)

  def max_speed(self):
    print('max speed is 100')

  def max_speed(self,s):
    print('Max speed is {}'.format(str(s)))

  def gear(self):
    print('6 gears')


class Car(Vehicle):
  def max_speed(self):
    print('max speed is 150')

  def gear(self):
    print('7 gears')




v1 = Vehicle('Truck','Red',200000)
c1 = Car('Car','Blue',100000)
v1.get_details()
c1.get_details()
v1.max_speed(120)
c1.max_speed()

Truck
Red
200000
Car
Blue
100000
Max speed is 120
max speed is 150