<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/python_day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List, Tuple, Dict, Set

## List

In [ ]:
l1 = [10,20,3.14,3+4j,[100,200,300],'NTT',2*3j]
print(type(l1))
print(l1)

# indexing
print(l1[0],l1[-1])
print(l1[-3][1])

<class 'list'>
[10, 20, 3.14, (3+4j), [100, 200, 300], 'NTT', 6j]
10 6j
200

In [ ]:
# complex number data type  check
a = 3+4j

print(a)
print(type(a))

(3+4j)
<class 'complex'>

In [ ]:
# slicing
print(l1[0:5:1])
print(l1[0:5:2])
print(l1[::])
print(l1[::-1])

[10, 20, 3.14, (3+4j), [100, 200, 300]]
[10, 3.14, [100, 200, 300]]
[10, 20, 3.14, (3+4j), [100, 200, 300], 'NTT', 6j]
[6j, 'NTT', [100, 200, 300], (3+4j), 3.14, 20, 10]

In [ ]:
# concatenation of List

l2 = [20, 50, 46]
l3 = [9832, 424]

l4 = l2 + l3

print(l2)
print(l3)
print(l4)

print(id(l2))
print(id(l3))
print(id(l4))

[20, 50, 46]
[9832, 424]
[20, 50, 46, 9832, 424]
136921341437056
136921768501568
136921341438080

In [ ]:
# multiplication of list

l5 = [10, 201, 30]

print(l5)
print(l5*3)

[10, 201, 30]
[10, 201, 30, 10, 201, 30, 10, 201, 30]

In [ ]:
# iteration of list

l6 = [10, 20, 30, 40, 347, 23, 587]

for i  in l6:
  print(i)

for i  in l6:
  print(i+5)

10
20
30
40
347
23
587
15
25
35
45
352
28
592

In [ ]:
# membership operator --- IN / NOT IN

print(10 in [30, 229,4309, 38])
print(10 in [30, 229,4309, 38,10])

print(10 not in [30, 229,4309, 38])
print(10 not in [30, 229,4309, 38,10])


print('NTT' in 'NTT DATA')

False
True
True
False
True

In [ ]:
# deletion of list

l7 = [10, 20, 30]

print(l7)

del l7

print(l7)

[10, 20, 30]

NameError: name 'l7' is not defined

In [ ]:
l8 = [10,20,30]
l9 = [30,29]

print(l8*l9)

TypeError: can't multiply sequence by non-int of type 'list'

### inbuilt function

In [ ]:
# max()

l1 = [100,43,3843,4853980,121]

print(max(l1))

4853980

In [ ]:
l2 = [342,'fefew','zgsjag',4398743298]

print(max(l2))

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
l3 = ['aa','fefew','zgsjag','zzz']

print(max(l3))

print(max(l3,key=len))  #### can define own function and provide it as parameter to key

zzz
zgsjag

In [ ]:
# empty list throws error with max
# Default value to max()

l4 = []

print(max(l4))

print(max(l4,default=10))

ValueError: max() arg is an empty sequence

In [ ]:
# empty list throws error with max
# Default value to max()

l4 = []


print(max(l4,default=10))

10

### Append element to list

In [ ]:
# append list
# can append only 1 element at a time

l1 = [30,343,121,34]

print(l1)

l1.append(37432)

print(l1)

[30, 343, 121, 34]
[30, 343, 121, 34, 37432]

In [ ]:
print(id(l1[0]))
print(id(l1[1]))
print(id(l1[2]))
print(id(l1[3]))
print(id(l1[4]))

l1.append('NTT')

print(id(l1[5]))

10751784
136921342329296
10754696
10751912
136921342329744
136921768497968

In [ ]:
l1 = []

for i in range(6):
  n = int(input('Enter a number to append to list: '))
  l1.append(n)

print(l1)

Enter a number to append to list: 232
Enter a number to append to list: 2
Enter a number to append to list:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# extend method

l1 = [10,20,30]
l2 = [490,2250,160]

l1.extend(l2)

print(l1)

[10, 20, 30, 490, 2250, 160]

In [ ]:
# insert method

l3 = [33,432, 22232]

print(l3)
print(id(l3[0]))
print(id(l3[1]))
print(id(l3[2]))

print(id(l3))

l3.insert(1,100)
print(l3)
print(id(l3[0]))
print(id(l3[1]))
print(id(l3[2]))
print(id(l3[3]))

print(id(l3))

[33, 432, 22232]
10751880
136921311482704
136921311483184
136921310995264
[33, 100, 432, 22232]
10751880
10754024
136921311482704
136921311483184
136921310995264

In [ ]:
# remove method (it works on value.. which value you want to remove)

l1 = [10,323,2329,10,3843]

print(l1)

l1.remove(10)

print(l1)

[10, 323, 2329, 10, 3843]
[323, 2329, 10, 3843]

In [ ]:
# pop method (it works on index.. which index you want to remove)

l1 = list(range(10,100,10))

print(l1)
print(l1.pop())

print(l1)

print(l1.pop(5))
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
90
[10, 20, 30, 40, 50, 60, 70, 80]
60
[10, 20, 30, 40, 50, 70, 80]

In [ ]:
# clear (emtpy the list in place)

print(l1)
l1.clear()

print(l1)

[10, 20, 30, 40, 50, 70, 80]
[]

In [ ]:
# del (can delete, one element, a slice of list, or entire list)

l1 = list(range(10,300,10))
print(l1)

del l1[1]
print(l1)

del l1[-1]
print(l1)

del l1[1:3]
print(l1)

del l1[-1:-3:-1] # not working
print(l1)

del l1[-3:-1] #working
print(l1)

del l1
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290]
[10, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290]
[10, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280]
[10, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280]
[10, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260]
[10, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 260]

NameError: name 'l1' is not defined

In [ ]:
# remove duplicate in list

l1 = [10,20,10,30,40,50]
l2 = []

l1.sort()
print(l1)
l2.append(l1[0])

for i in range(1,len(l1)):
  if l1[i-1] != l1[i]:
    l2.append(l1[i])

print(l2)

[10, 10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
l1 = [10,20,10,30,40,50]
l2 = []

l1.sort()
print(l1)

for i in l1:
  if i not in l2:
    l2.append(i)

print(l2)

[10, 10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
# find 2nd largest number in the list

l1 = list(range(10,100,10))

print(l1)
m1 = max(l1)
l1.remove(m1)
m2 = max(l1)
print(l1)
print(m2)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80]
80

In [ ]:
# find 2nd largest number in the list

l1 = list(range(10,100,10))

print(l1)
l1.remove(max(l1))

print(l1)
print(max(l1))

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80]
80

In [ ]:
## python evaluates right side first

a = 3
b = 7

print(a)
print(b)

a,b = b, a+b

print(a)
print(b)

a,b = b+5, b+5

print(a)
print(b)

a,b = b/5, 0

print(a)
print(b)

3
7
7
10
15
15
3.0
0

In [ ]:
# Leet code - Two sum

nums = [2,7,11,15]
target = 9

print(len(nums))

4

In [ ]:
# count occurrence of element in a list

# option 1

l1 = [2,3,3,4,4,4,2,6,7,8,6]
uniq = []
cnt = []

for ele in l1:
  if ele not in uniq:
    uniq.append(ele)
    cnt.append(1)
  else:
    i = uniq.index(ele)
    cnt[i] += 1
print(l1)
print(uniq)
print(cnt)

[2, 3, 3, 4, 4, 4, 2, 6, 7, 8, 6]
[2, 3, 4, 6, 7, 8]
[2, 2, 3, 2, 1, 1]

In [ ]:
# count occurrence of element in a list

# option 2

l1 = [2,3,3,4,4,4,2,6,7,8,6]
uniq = []
cnt = []

for ele in l1:
  if ele not in uniq:
    uniq.append(ele)
    cnt.append(l1.count(ele))
print(l1)
print(uniq)
print(cnt)

[2, 3, 3, 4, 4, 4, 2, 6, 7, 8, 6]
[2, 3, 4, 6, 7, 8]
[2, 2, 3, 2, 1, 1]

In [ ]:
# list method

s = 'NTT DATA'
print(s)
print(type(s))

l = list(s)
print(l)
print(type(l))

NTT DATA
<class 'str'>
['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']
<class 'list'>

## Tuple

immutable, ordered, elements of different data type, defined by (), tuple constructor tuple()

In [ ]:
# creating a tuple

s = 'NTT DATA'
print(s)
print(type(s))

t = tuple(s)
print(t)
print(type(t))

NTT DATA
<class 'str'>
('N', 'T', 'T', ' ', 'D', 'A', 'T', 'A')
<class 'tuple'>

In [ ]:
t1 = (1,2,3.14,'NTT',[4,32,42],(23,'fah'))
print(t1)
print(type(t1))

l1 = list(t1)
print(l1)
print(type(l1))

t2 = tuple(l1)
print(t2)
print(type(t2))

(1, 2, 3.14, 'NTT', [4, 32, 42], (23, 'fah'))
<class 'tuple'>
[1, 2, 3.14, 'NTT', [4, 32, 42], (23, 'fah')]
<class 'list'>
(1, 2, 3.14, 'NTT', [4, 32, 42], (23, 'fah'))
<class 'tuple'>

In [ ]:
t2 = tuple()
print(t2)
print(type(t2))

()
<class 'tuple'>

In [ ]:
# tuple with a single element

t3 = (6)
print(t3)
print(type(t3))

t4 = (6,)
print(t4)
print(type(t4))

t5 = tuple([6])
print(t5)
print(type(t5))


l3 = [6]
print(l3)
print(type(l3))

l4 = [6,]
print(l4)
print(type(l4))

6
<class 'int'>
(6,)
<class 'tuple'>
(6,)
<class 'tuple'>
[6]
<class 'list'>
[6]
<class 'list'>

In [ ]:
# tuple concatenation

t1 = (10,20,30)
t2 = (30,40,50)

print(t1)
print(type(t1))
print(t2)
print(type(t2))

t3 = t1 + t2

print(t3)
print(type(t3))

(10, 20, 30)
<class 'tuple'>
(30, 40, 50)
<class 'tuple'>
(10, 20, 30, 30, 40, 50)
<class 'tuple'>

In [ ]:
# tuple multiplication

t1 = (10,20,30)

t2 = t1 * 3

print(t2)
print(type(t2))

(10, 20, 30, 10, 20, 30, 10, 20, 30)
<class 'tuple'>

In [ ]:
# iterating tuple

t1 = (10,20,30)

for i in t1:
  print(i)

10
20
30

In [ ]:
# slicing in tuple

t1 = (1,2,3.14,'NTT',[4,32,42],(23,'fah'))

print(t1[0])
print(t1[0:4])

1
(1, 2, 3.14, 'NTT')

## Dictionary

unordered, mutable, key:value pair, key is immutable (string, number, tuple), denoted by {}, value can be any data type,

In [ ]:
## Dict

d1 = {'name':'Ram','age':25,'city':'Bangalore'}

print(d1)
print(type(d1))

# extract all keys
print(d1.keys())
print(type(d1.keys()))

# extract all values
print(d1.values())
print(type(d1.values()))

# etract all dict items
print(d1.items())
print(type(d1.items()))

{'name': 'Ram', 'age': 25, 'city': 'Bangalore'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
<class 'dict_keys'>
dict_values(['Ram', 25, 'Bangalore'])
<class 'dict_values'>
dict_items([('name', 'Ram'), ('age', 25), ('city', 'Bangalore')])
<class 'dict_items'>

In [ ]:
# Create dictionary

d1 = { 2:100 ,
       4:200 ,
       6:300 ,
       8:400 ,
       10:500}

print(d1)
print(type(d1))

print(d1.keys())
print(d1.values())

print(d1[2])
print(d1[10])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
dict_keys([2, 4, 6, 8, 10])
dict_values([100, 200, 300, 400, 500])
100
500

In [ ]:
d2 = {'aa':100,
      'bb':200,
      'cc':300}

print(d2)
print(type(d2))

print(d2['aa'])
print(d2['cc'])

{'aa': 100, 'bb': 200, 'cc': 300}
<class 'dict'>
100
300

In [ ]:
d3 = {3:[1,2,3],
      6:(4,5),
      9:'NTT'}

print(d3)
print(type(d3))

print(d3[3])
print(d3[6])
print(d3[9])


print(type(d3[6]))

{3: [1, 2, 3], 6: (4, 5), 9: 'NTT'}
<class 'dict'>
[1, 2, 3]
(4, 5)
NTT
<class 'tuple'>

In [ ]:
d4 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:35.5}

print(d4)
print(d4[35.5])
print(d4[(1,2)])
print(d4[('a',)])
print(d4['NT'])

{(1, 2): 'Ram', ('a',): 39, 'NT': 35.5, 35.5: 35.5}
35.5
Ram
39
35.5

In [ ]:
# iterating through a dict keys

d5 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:35.5,
      5:'ad'}

for k in d5:  ## by default dictiory iterates through keys. so dont have to specify d1.keys()
  print(k)

(1, 2)
('a',)
NT
35.5
5

In [ ]:
# iterating through a dict values

d5 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:35.5,
      5:'ad'}

for v in d5.values():
  print(v)

Ram
39
35.5
35.5
ad

In [ ]:
# Iterating through items

d5 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:35.5,
      5:'ad'}

for item in d5.items():
  print(item)

((1, 2), 'Ram')
(('a',), 39)
('NT', 35.5)
(35.5, 35.5)
(5, 'ad')

In [ ]:
# Iterating through items

d5 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:35.5,
      5:'ad'}

for k in d5:
  print(d5[k])

Ram
39
35.5
35.5
ad

In [ ]:
# Iterating through items

d5 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:35.5,
      5:'ad'}

for key,value in d5.items():
  print(key,value)

(1, 2) Ram
('a',) 39
NT 35.5
35.5 35.5
5 ad

In [ ]:
# membership operator in, not in

d6 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:3}

if 2 in d6:
  print('2 is present')
else:
  print('2 is not present')

if 35.5 in d6:
  print('35.5 is present')
else:
  print('35.5 is not present')

if 'a' not in d6:
  print("'a' is not present")
else:
  print("'a' is present")

2 is not present
35.5 is present
'a' is not present

In [ ]:
# inbuilt methods for dict

# keys()

d6 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:3}

k = d6.keys()

print(k)
print(type(k))

l = list(k)
print(l)
print(type(l))

dict_keys([(1, 2), ('a',), 'NT', 35.5])
<class 'dict_keys'>
[(1, 2), ('a',), 'NT', 35.5]
<class 'list'>

In [ ]:
# values()

d6 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:3}

v = d6.values()

print(v)

dict_values(['Ram', 39, 35.5, 3])

In [ ]:
# items()

d6 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:3}

itm = d6.items()
print(itm)

dict_items([((1, 2), 'Ram'), (('a',), 39), ('NT', 35.5), (35.5, 3)])

In [ ]:
# get()

d6 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:3}

val = d6.get(35.5)
print(val)

print(d6.get(10)) # if key not present it uses default value

val2 = d6.get(10,'###') # specifying defalt value when key is not present
print(val2)

3
None
###

In [ ]:
# pop()

d6 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:3}

print(d6)

val = d6.pop(('a',))
print(val)

print(d6)

print(d6.pop()) # pop needs atleast one argument.

{(1, 2): 'Ram', ('a',): 39, 'NT': 35.5, 35.5: 3}
39
{(1, 2): 'Ram', 'NT': 35.5, 35.5: 3}

TypeError: pop expected at least 1 argument, got 0

In [ ]:
print(d6.pop(10)) # pop throws error  as key value not present.

KeyError: 10

In [ ]:
print(d6.pop(10,'###')) # default value specified if key not present in the dict

###

In [ ]:
## update()

d7 = {(1,2):'Ram',
      ('a',):39,
      'NT': 35.5,
      35.5:3}

d8 = {10: 'a', 20: 'c'}
print(d7)

d7.update(d8)
print(d7)


d7.update({10:'richa',30:'d'})
print(d7)

d7.update({10:'richa1',10:'d'})
print(d7)

{(1, 2): 'Ram', ('a',): 39, 'NT': 35.5, 35.5: 3}
{(1, 2): 'Ram', ('a',): 39, 'NT': 35.5, 35.5: 3, 10: 'a', 20: 'c'}
{(1, 2): 'Ram', ('a',): 39, 'NT': 35.5, 35.5: 3, 10: 'richa', 20: 'c', 30: 'd'}
{(1, 2): 'Ram', ('a',): 39, 'NT': 35.5, 35.5: 3, 10: 'd', 20: 'c', 30: 'd'}

In [ ]:
d9 = {2:100, 3:300, 4:400, 5:500, 2:200}

print(d9)

{2: 200, 3: 300, 4: 400, 5: 500}

In [ ]:
# clear()

print(d9)

d9.clear()

print(d9)

{2: 200, 3: 300, 4: 400, 5: 500}
{}

In [ ]:
# shallow copy - copy the memory location, still points to the same address. any changes to one reflects in the other

d1 = {1:100, 2:200, 3:300}
d2 = d1.copy()

print(d1)
print(d2)

print(id(d1))
print(id(d2))

{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300}
132536296173632
132536296165120

In [ ]:
# shallow copy - copy the memory location, still points to the same address. any changes to one reflects in the other

d1 = {1:[100,100], 2:[200,34], 3:[300,'as']}
d2 = d1.copy()

print(d1)
print(d2)

print(id(d1))
print(id(d2))

{1: [100, 100], 2: [200, 34], 3: [300, 'as']}
{1: [100, 100], 2: [200, 34], 3: [300, 'as']}
132536294191296
132536293913600

In [ ]:
# shallow copy - copy the memory location, still points to the same address. any changes to one reflects in the other

d1 = {1:[100,100], 2:[200,34], 3:[300,'as']}
d2 = d1

print(d1)
print(d2)

print(id(d1))
print(id(d2))

{1: [100, 100], 2: [200, 34], 3: [300, 'as']}
{1: [100, 100], 2: [200, 34], 3: [300, 'as']}
132536293903040
132536293903040

In [ ]:
# shallow copy - copy the memory location, still points to the same address. any changes to one reflects in the other

d1 = [10,20,30]
d2 = d1.copy()
d3 = d1

print(d1)
print(d2)

print(id(d1))
print(id(d2))
print(id(d3))

[10, 20, 30]
[10, 20, 30]
132536294187648
132536294044672
132536294187648

In [ ]:
d1 = {1:100,2:200,3:300}
d2 = d1.copy()

d3 = d1

print(d1)
print(d2)

print(id(d1))
print(id(d2))

d1.update({4:400})

print(d1)
print(d2)
print(d3)

{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300}
132536294193024
132536294194624
{1: 100, 2: 200, 3: 300, 4: 400}
{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300, 4: 400}

In [ ]:
# deep copy - not a default method

import copy

d1 = {1:100,2:200,3:300}
d2 = copy.deepcopy(d1)

print(id(d1))
print(id(d2))

print(d1)
print(d2)

132536294181184
132536294188480
{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300}

In [ ]:
# fromkeys()

keys = [1,2,3,4]

d1 = dict.fromkeys(keys,2000)

print(d1)

{1: 2000, 2: 2000, 3: 2000, 4: 2000}

In [ ]:
keys = [1,2,3,4,5,6]
values = [10,20,30,40,50]

d2 = dict.fromkeys(keys,values)

print(d2)

d3 = dict(zip(keys,values))
print(d3)

{1: [10, 20, 30, 40, 50], 2: [10, 20, 30, 40, 50], 3: [10, 20, 30, 40, 50], 4: [10, 20, 30, 40, 50], 5: [10, 20, 30, 40, 50], 6: [10, 20, 30, 40, 50]}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [ ]:
# test zip

l1 = [1,2,3,4]
l2 = [10,20,30,40]
l3 = [100,200,300,400]

print(list(zip(l1,l2,l3)))

[(1, 10, 100), (2, 20, 200), (3, 30, 300), (4, 40, 400)]

In [ ]:
# assignment

s = 'I  live in  blr , blr is a garden city and beautiful city'

### output = {'I':1 , 'live':1, 'in':2, 'blr':2, 'is':1, 'a':1, 'garden':1, 'city':2}


l = s.split()
print(l)

d = {}

for i in l:
  if i not in d:
    d[i] = l.count(i)

print(d)

['I', 'live', 'in', 'blr', ',', 'blr', 'is', 'a', 'garden', 'city', 'and', 'beautiful', 'city']
{'I': 1, 'live': 1, 'in': 1, 'blr': 2, ',': 1, 'is': 1, 'a': 1, 'garden': 1, 'city': 2, 'and': 1, 'beautiful': 1}

In [2]:
## copy refence with =

l1 = [1,2,3,4]

l2 = l1

print(l1)
print(l2)

print(id(l1))
print(id(l2))

l2[1] = 200

print(l1)
print(l2)

print(id(l1))
print(id(l2))

[1, 2, 3, 4]
[1, 2, 3, 4]
136319349379200
136319349379200
[1, 200, 3, 4]
[1, 200, 3, 4]
136319349379200
136319349379200

In [9]:
## shallow copy

import copy

l1 = [[1,2,3],[3.4,5.4],[6,'a']]

l2 = copy.copy(l1)

print(l1)
print(l2)

print(id(l1))
print(id(l2))

l2[1] = [4,5]

print(l1)
print(l2)

print(id(l1))
print(id(l2))

l1.append('NTT')

print(l1)
print(l2)

print(id(l1))
print(id(l2))

l3 = copy.copy(l1)
l1[3] = 'NTT DATA'

print(l1)
print(l2)
print(l3)

print(id(l1))
print(id(l2))
print(id(l3))

[[1, 2, 3], [3.4, 5.4], [6, 'a']]
[[1, 2, 3], [3.4, 5.4], [6, 'a']]
136319349699456
136319576149312
[[1, 2, 3], [3.4, 5.4], [6, 'a']]
[[1, 2, 3], [4, 5], [6, 'a']]
136319349699456
136319576149312
[[1, 2, 3], [3.4, 5.4], [6, 'a'], 'NTT']
[[1, 2, 3], [4, 5], [6, 'a']]
136319349699456
136319576149312
[[1, 2, 3], [3.4, 5.4], [6, 'a'], 'NTT DATA']
[[1, 2, 3], [4, 5], [6, 'a']]
[[1, 2, 3], [3.4, 5.4], [6, 'a'], 'NTT']
136319349699456
136319576149312
136319349694272

In [14]:
## shallow copy : copies only reference for 1st level. after that immutables change dont get referenced or updated

import copy

l1 = [[1,2,3],[3.4,5.4],[6,'a']]

l2 = copy.copy(l1)

print(l1)
print(l2)

print(id(l1))
print(id(l2))

l1[0][0] = 5
l2[1] = [4,5]

print(l1)
print(l2)

print(id(l1))
print(id(l2))

l1.append('NTT')
l2[0][1] = 2.0

print(l1)
print(l2)

print(id(l1))
print(id(l2))

l1 = [[1,2,3],[3.4,5.4],[6,'a'],'NTT']
l3 = copy.copy(l1)
l1[3] = 'NTT DATA'

print(l1)

print(l3)

print(id(l1))

print(id(l3))

[[1, 2, 3], [3.4, 5.4], [6, 'a']]
[[1, 2, 3], [3.4, 5.4], [6, 'a']]
136319348480448
136319349788736
[[5, 2, 3], [3.4, 5.4], [6, 'a']]
[[5, 2, 3], [4, 5], [6, 'a']]
136319348480448
136319349788736
[[5, 2.0, 3], [3.4, 5.4], [6, 'a'], 'NTT']
[[5, 2.0, 3], [4, 5], [6, 'a']]
136319348480448
136319349788736
[[1, 2, 3], [3.4, 5.4], [6, 'a'], 'NTT DATA']
[[1, 2, 3], [3.4, 5.4], [6, 'a'], 'NTT']
136319349787264
136319349750016

In [12]:
# deepcopy - creates a copy

import copy

l1 = [[1,2,3],3.4,'NTT',(1,2,3,4)]

l2 = copy.deepcopy(l1)

print(l1)
print(l2)
print(id(l1))
print(id(l2))

l1[0][0] = 5

print(l1)
print(l2)

[[1, 2, 3], 3.4, 'NTT', (1, 2, 3, 4)]
[[1, 2, 3], 3.4, 'NTT', (1, 2, 3, 4)]
136319349692096
136320406453440
[[5, 2, 3], 3.4, 'NTT', (1, 2, 3, 4)]
[[1, 2, 3], 3.4, 'NTT', (1, 2, 3, 4)]

## SET

In [18]:
## unordered pair, stored in a different order than defined using hashing, unique items, {}

s = {1,'NTT',30+4j, 40, 30, (18,), 30,50,40,50}  ## list not allowed, duplicateds not allowed

print(s)
print(id(s))

{1, (18,), 50, 40, (30+4j), 'NTT', 30}
136319349265056

In [19]:
## set is mutable, but elements in set must be mutable
## set can be modified
## indexing slicing do not apply to set

s2 = {10,10,20,30,20,30}
print(s2)

{10, 20, 30}

In [20]:
# list not allowed in set

s3 = {10,20,30,[4,3]}
print(s3)

TypeError: unhashable type: 'list'

In [21]:
# using set()

s1 = set('NTT Data ')
print(s1)

s2 = set(['NTT Data '])
print(s2)

{'T', ' ', 't', 'N', 'D', 'a'}
{'NTT Data '}

In [23]:
s5 = {} ## creates empty dict
print(s5)
print(type(s5))

s6 = set() ##Use set() to create empty set
print(s6)
print(type(s6))

{}
<class 'dict'>
set()
<class 'set'>

In [37]:
## set methods : add, update, remove, discard, pop, clear

s = {10,20,40+3j,'NTT'}

print(s)

s.add('Data') ## add one element to set using add()

print(s)

s.update(['100',100,4.5]) ## add multiple element to set using update(). pass multiple items as list []
print(s)


s.remove('100')
print(s)

s.discard(4.5)
print(s)

#s.remove('abc') ## throws error when element doesnt exist in set
print(s)

s.discard('abc')  ## discard doesnt throw error when element doesnt exist in the set
print(s)

ele = s.pop()
print(ele)
print(s)

ele2 = s.pop()
print(ele2)
print(s)

ele3 = s.pop()
print(ele3)
print(s)


s.clear()
print(s)

{(40+3j), 10, 'NTT', 20}
{10, 'Data', (40+3j), 20, 'NTT'}
{'100', 100, 4.5, 10, 'Data', (40+3j), 20, 'NTT'}
{100, 4.5, 10, 'Data', (40+3j), 20, 'NTT'}
{100, 10, 'Data', (40+3j), 20, 'NTT'}
{100, 10, 'Data', (40+3j), 20, 'NTT'}
{100, 10, 'Data', (40+3j), 20, 'NTT'}
100
{10, 'Data', (40+3j), 20, 'NTT'}
10
{'Data', (40+3j), 20, 'NTT'}
Data
{(40+3j), 20, 'NTT'}
set()

In [39]:
## set union  : pipe | operator or union()

s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(s1|s2)

print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [41]:
## set intersection : using & or intersection()

s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print(s1&s2)

print(s1.intersection(s2))

{3, 4, 5}
{3, 4, 5}

In [43]:
## difference : using - or difference()

print(s1-s2)

print(s2-s1)

print(s1.difference(s2))

print(s2.difference(s1))

{1, 2}
{6, 7}
{1, 2}
{6, 7}

## Frozen set

immutable version of python set

In [44]:
## frozenset

s = {1,2,3,4}
fs = frozenset(s)

print(s)
print(type(s))
print(fs)
print(type(fs))

{1, 2, 3, 4}
<class 'set'>
frozenset({1, 2, 3, 4})
<class 'frozenset'>

In [45]:
fs.add(1)

AttributeError: 'frozenset' object has no attribute 'add'