<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/Python_M2_Day14-OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOPS:
## Class
- is like a template or blueprint or design
- No memory is created for class
- Memory is created for the object of the class
- Object is the instance of the class

*   Attributes - data or variables
*   Method - Behaviour or operations on the data/variable

In [2]:
# Class definition- class Class_name:
class Calculator:

  # attributes
  n1=0
  n2=0
  res=0

  # methods/behaviour

  def __init__(self,n1,n2):   ## Constructor called implicitly during object creation
    self.n1=n1
    self.n2=n2
    self.res=0

  def add(self,n1,n2):
    pass

  def sub(self,n1,n2):
    pass

  def mul(self,n1,n2):
    pass

  def div(self,n1,n2):
    pass

obj1 = Calculator(10,20)  # object creation
obj2 = Calculator(100,200)  # object creation

In [9]:
# Class example

class Sample:

  def __init__(self):
    self.data = 10

  def input_data(self):
    self.data = input("Enter some data: ")

  def process_data(self):
    self.data = self.data.upper()

  def output_data(self):
    print(self.data)

# object creation
obj1 = Sample()
obj2 = Sample()
obj3 = Sample()

#
obj1.output_data()
print(obj1.data)
obj1.input_data()
obj1.process_data()
obj1.output_data()

obj2.output_data()
obj2.input_data()
obj2.process_data()
obj2.output_data()

obj3.output_data()
obj3.input_data()
obj3.process_data()
obj3.output_data()

10
10
Enter some data: ab
AB
10
Enter some data: abc
ABC
10
Enter some data: acask
ACASK

In [20]:
# Class definition- class Class_name:
class Calculator:

  # methods/behaviour

  def __init__(self):
    self.n1=0
    self.n2=0
    self.res=0

  def get_data(self):
    self.n1 = int(input('Enter 1st number: '))
    self.n2 = int(input('Enter 2nd number: '))

  def add(self):
    self.res = self.n1+self.n2
    print(self.res)

  def sub(self):
    self.res = self.n1 - self.n2
    print(self.res)

  def mul(self):
    self.res = self.n1 * self.n2
    print(self.res)

  def div(self):
    self.res = self.n1 / self.n2
    print(self.res)

  def compare(self, other):
    if self.n1 == other.n1 and self.n2 == other.n2:
      print("Same")
    else:
      print("Different")

obj1 = Calculator()  # object creation
obj1.get_data()
obj1.add()
obj1.sub()
obj1.mul()
obj1.div()

obj2 = Calculator()  # object creation
obj2.get_data()
obj2.add()
obj2.sub()
obj2.mul()
obj2.div()

obj1.compare(obj2)

Enter 1st number: 10
Enter 2nd number: 5
15
5
50
2.0
Enter 1st number: 8
Enter 2nd number: 3
11
5
24
2.6666666666666665
Different

In [25]:
# method without self keyword

class Sample:
  def test():
    print('Hi')

o1 = Sample()
o1.test()  ## self keyword is mandatory

TypeError: Sample.test() takes 0 positional arguments but 1 was given

In [32]:
# Non - parameteized constructor

class Student:

  def __init__(self):
    self.name = ''
    self.age = 0
    self.m1 = 0
    self.m2 = 0
    self.m3 = 0
    self.avg = 0


  def get_data(self):
    self.name = input("Enter student name: ")
    self.age = int(input("Enter sudent's age: "))
    self.m1 = int(input("Enter m1: "))
    self.m2 = int(input("Enter m2: "))
    self.m3 = int(input("Enter m3: "))

  def calc_avg(self):
    self.avg = (self.m1+self.m2+self.m3)/3

  def student_data(self):
    print("Name: ",self.name)
    print('Age: ',self.age)
    print('Marks: ',self.m1,self.m2,self.m3)
    print('Avg: ',self.avg)

s1 = Student()
s1.get_data()
s1.calc_avg()
s1.student_data()

Enter student name: Ria
Enter sudent's age: 10
Enter m1: 98
Enter m2: 89
Enter m3: 89
Name:  Ria
Age:  10
Marks:  98 89 89
Avg:  92.0
<class 'float'>

In [34]:
# Parameterized constructor

class Test:

  def __init__(self,a,b):
    self.a = a
    self.b = b

  def output_data(self):
    print(self.a,self.b)

t1 = Test(10,20)
t2 = Test(1.1,2.4)

t1.output_data()
t2.output_data()

10 20
1.1 2.4

In [36]:
# Parameteized constructor

class Student:

  def __init__(self,name,age,m1,m2,m3):
    self.name = name
    self.age = age
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3
    self.avg = 0


  def calc_avg(self):
    self.avg = (self.m1+self.m2+self.m3)/3

  def student_data(self):
    print("Name: ",self.name)
    print('Age: ',self.age)
    print('Marks: ',self.m1,self.m2,self.m3)
    print('Avg: ',self.avg)

s1 = Student('Ria',10,98,89,92)
s1.calc_avg()
s1.student_data()

Name:  Ria
Age:  10
Marks:  98 89 92
Avg:  93.0

In [37]:
# Parameterized constructor

class Employee:

  def __init__(self,name,id,dept,bsal):
    self.emp_name = name
    self.emp_id = id
    self.emp_dept = dept
    self.bsal = bsal
    self.bonus = 20
    self.fsal = 0

  def cal_sal(self):
    self.fsal = self.bsal + (self.bsal*self.bonus/100)

  def output_data(self):
    print('Name: ',self.emp_name)
    print('Id: ',self.emp_id)
    print('Dept: ',self.emp_dept)
    print('Total Salary: ',self.fsal)

e1 = Employee('Ria',101,'Tech',10000)
e1.cal_sal()
e1.output_data()

Name:  Ria
Id:  101
Dept:  Tech
Total Salary:  12000.0

In [39]:
# Default constructor - when we dont need to initialize any class attributes then we can skip __init__. default constructor will automatically be called

class Default:
  def test(self):
    print('Default constructor class')

o = Default()
o.test()

Default constructor class