<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/Python_M2_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
# simple function

def fun():
  print("hello world")
  print("Welcome")

print("before function call")
fun()
print("after function call")

before function call
hello world
Welcome
after function call

In [ ]:
fun()

hello world

In [ ]:
# function to print square of an integer

## without argument, without return value

def square():
  n = int(input("Enter an integer: "))
  print("square of ",n," = ",n*n)

square()

Enter an integer: 5
square of  5  =  25

In [ ]:
# function to print square of an integer

## with arguments , with return value

def square(x):
  return x**2

n = int(input("Enter an integer: "))
sq = square(n)
print("square of ",n," = ",sq)

Enter an integer: 5
square of  5  =  25

In [ ]:
# function to print square of an integer

## with arguments , without return value

def square(x):
  print("square of ",x," = ",x**2)

n = int(input("Enter an integer: "))
square(n)

Enter an integer: 5
square of  5  =  25

In [ ]:
# function to print square of an integer

## without arguments , with return value

def square():
  x = int(input("Enter an integer: "))
  return (x,x**2)

n,sq = square()
print("square of ",n," = ",sq)

Enter an integer: 5
square of  5  =  25

In [ ]:
# recursinve function

def fact(n):
  if n == 0:
    return 1
  else:
    return n*fact(n-1)

fact(5)

120

In [ ]:
# return multiple values

def func():
  return 10,20,30,40   ### dont need to define it as tuple. python automatically makes it a tuple

a,b,c,d = func()
print(a,b,c,d)
print(func())
print(type(func()))

10 20 30 40
(10, 20, 30, 40)
<class 'tuple'>

In [ ]:
def test1():
  list1 = [10,20,30]
  tuple1 = (30,40,50)
  return list1,tuple1

x,y = test1()

print(type(x))
print(x)
print(type(y))
print(y)

z = test1()
print(z)
print(type(z))

print(test1()[0])
print(test1()[0][1])
print(test1()[1][1:3])

<class 'list'>
[10, 20, 30]
<class 'tuple'>
(30, 40, 50)
([10, 20, 30], (30, 40, 50))
<class 'tuple'>
[10, 20, 30]
20
(40, 50)

In [ ]:
## use underscore _ to ignore values which are not required

def func():
  return 10,20,30,40

_,val2,_,val4 = func()
print(val2,val4)

a,a,a,a = func()
print(a)

20 40
40

In [ ]:
# Function calling another function

def test1():
  print("I am inside test1")
  test2()
  print("I am back to test1")

def test2():
  print("I am in test2")
  print("going back")
  return

print("Starting program call")
test1()
print("End of program")

Starting program call
I am inside test1
I am in test2
going back
I am back to test1
End of program

In [ ]:
# Local variable - Life

def test():
  x = 1000000000
  print(x)
  print(id(x))
  x+=1
  print(x)
  print(id(x))

test()
test()
test()

1000000000
135559546863376
1000000001
135559546861200
1000000000
135559546863376
1000000001
135559546861872
1000000000
135559546863376
1000000001
135559546861200

In [ ]:
# Local variable - scope

def test():
  x = 1000000000
  print(x)
  print(id(x))
  x+=1
  print(x)
  print(id(x))

test()
print(x) ## scope of x is only within function test()
test()
test()

1000000000
135559546860432
1000000001
135559546861360

NameError: name 'x' is not defined

In [ ]:
# Global variable

n = 10

def fun():
  print(n)

print(n)
fun()
n+=1
print(n)
fun()

10
10
11
11

In [ ]:
# global vs local variable

n = 10

def test():
##  print(n)  if variable is getting modified in anyways or assigned then it needs to be local variable or use global keyword
  n = 5
  print(n)

print(n)
print("calling test")
test()
print("returned from test")
print(n)

10
calling test

UnboundLocalError: cannot access local variable 'n' where it is not associated with a value

In [ ]:
# global keyword

n = 10

def test1():
  global n
  print(n)
  n+=1
  print(n)

def test2():
  global n
  n = 5
  print(n)

test1()
print(n)
test2()
print(n)

10
11
11
5
5

In [ ]:
# function is also an object in python

def fun():
  print("In function")

print(type(fun))

<class 'function'>

In [ ]:
# nested function, function returned as object

def multiplier_factory(factor):
  # Nested function
  def multiplier(number):
    return number*factor
  return multiplier # returning inner function

multiply_by_5 = multiplier_factory(5)
multiply_by_10 = multiplier_factory(10)

print(multiply_by_5(8))
print(multiply_by_10(8))

40
80

In [ ]:
# alias name for a function

def test():
  print("Hello world")

a = test

a()

Hello world

In [ ]:
def test():
  print("Hello world")
  print("updated function")

a()

Hello world

In [ ]:
# Positional arguments or required arguments

def test(name, age, city):
  print("Name: ",name,"\nage: ",age,"\nCity: ",city)

test("Ram",23,"Delhi")
test(23,"Delhi","Raman")

test("ram",23)

Name:  Ram
age:  23
City:  Delhi
Name:  23
age:  Delhi
City:  Raman

TypeError: test() missing 1 required positional argument: 'city'

In [ ]:
# Keyword arguments

def test(name, age, city):
  print("Name: ",name,"\nAge: ",age,"\nCity: ",city)

test("Ram",25,"Delhi") # Positional arguments

test(age=23,city='Delhi',name="Raman") # Keyword arguments

test("Rama",26,city='Mum')  # Positional arguments first, followed by Keyword arguments

test(name="Ramesh",24,"Mum") # Positional argument cannot come after Keyword arguments

SyntaxError: positional argument follows keyword argument (<ipython-input-46-98d2520dccdf>, line 12)

In [ ]:
# Keyword arguments and Positional arguments combined

def test(name, age, city, curr_city):
  print("Name: ",name,"\nAge: ",age,"\nCity: ",city,"\nCurrent City: ",curr_city)



test("Raman",23,curr_city="Mum",city='Delhi') # Keyword arguments

Name:  Raman
Age:  23
City:  Delhi
Current City:  Mum

In [ ]:
# Default arguments

def student(name, age, college="UVCE"):
  print(name,age,college)

student("A",12,"RVCE")
student("B",13)

A 12 RVCE
B 13 UVCE

In [ ]:
## Order of arguments

# Postional arguments ---> Keyword arguments ---> Default arguments

student("C",college = "RVCE",age = 23)
student("D",,age=23)

SyntaxError: invalid syntax (<ipython-input-51-72a9094feb2f>, line 6)

In [9]:
# Variable length arguments with positional arguments --- use *

def add(*x):
  sum = 0
  print(x)
  print(type(x))
  for i in x:
    sum+=i
  return sum

print(add(1,2))
print(add(1,2,3))
print(add(1))
#print(add(x=1)) ## throws error as passing keyword arguments.

#print(add([1,2,3])) ## throws error as passing list and list is not handled in the function
#print(add((1,2,3))) ## throws error as passing tuple is not handled in the function. the arguments should be passed as integers which will be automatically converted into tuple

(1, 2)
<class 'tuple'>
3
(1, 2, 3)
<class 'tuple'>
6
(1,)
<class 'tuple'>
1
((1, 2, 3),)
<class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [ ]:
# variable length keyword arguments --- use **

def addn(**a):
  print(a)
  print(type(a))
  s = 0
  for i in a.values():
    s+=i
  print(s)

addn(a=10,b=20)
addn(a=19,b=25,c=2)
addn(1,2,3)

{'a': 10, 'b': 20}
<class 'dict'>
30
{'a': 19, 'b': 25, 'c': 2}
<class 'dict'>
46

TypeError: addn() takes 0 positional arguments but 3 were given

In [6]:
# variable length : positional and keyword arguments together
## first positional arguments ---> keyword arguments

def add(*num,**nums):
  print('Sum of num: ',sum(num))
  print('Sum of nums: ',sum(nums.values()))

add(1,2,a=10,b=20)
add(1,2,3,4)
add(a=10,b=30,c=40)
#add(a=10,1) # thrws error as positional arguments come after keyword arguments

Sum of num:  3
Sum of nums:  30
Sum of num:  10
Sum of nums:  0
Sum of num:  0
Sum of nums:  80

In [7]:
def add(**nums,*num):   ## incorrect syntax: throws error as keyword arguments before positional. * first followed by ** is the order
  print(sum(nums.values())
  print(sum(num))

add(1,2,3)

SyntaxError: arguments cannot follow var-keyword argument (<ipython-input-7-4e7bbe401a37>, line 1)

In [19]:
# Function combining all the types of arguments
'''
1. Positional arguments
2. Positional arguments with default values
3. variable length positional arguments
4. Keyword arguments
5. Keyword arguments with default values (this has to specify keyword)
6. Variable length keyword arguments
'''

def student(name,clas=5,*parents_name,age,school='ABC',**marks):
  print('Name: ',name)
  print('class: ',clas)
  print('Parents: ', parents_name)
  print('Age: ',age)
  print('Marks: ',marks)
  print('School: ',school)

student('Ravi','B',age=12,eng=90,maths=87,science=91)
student('Riva',4,'A','B',age=11,eng=91,maths=87,science=91)

Name:  Ravi
class:  B
Parents:  ()
Age:  12
Marks:  {'eng': 90, 'maths': 87, 'science': 91}
School:  ABC
Name:  Riva
class:  4
Parents:  ('A', 'B')
Age:  11
Marks:  {'eng': 91, 'maths': 87, 'science': 91}
School:  ABC

### Lambda Function
 Anonymous function

*   List item
*   List item


 one line only
 no function name
 no return statement
 no function call
 returns one value in form of expression
 cannot contain multiple expression

 variable = lambda <list of variables>:<expression>

In [20]:
## Lambda function

sum = lambda x,y,z: x+y+z
print(sum(10,23,20))

53

In [9]:
sum2 = lambda x: sum1(x)
print(sum2((1,2,3)))

RecursionError: maximum recursion depth exceeded

In [1]:
add = lambda x,y: x+y, x-y ## throws error as lambda cannot return more than one value.
print(add(7,5))

NameError: name 'x' is not defined

In [3]:
add = lambda x,y: (x+y, x-y)
print(add(7,5))

(12, 2)

In [5]:
add = lambda x,y: [x+y, x-y]
print(add(7,5))

[12, 2]

In [10]:
a = lambda : print('hello')
print(a())

# print hello as function being called by a().
# print None as lambda function returns none which is the output

hello
None

In [14]:
plus_one = lambda x,y=1: x+y
print(plus_one(5))
print(plus_one(5,3))
print(plus_one(x=6,y=4))

6
8
10

In [1]:
add = lambda *x: sum(x)
print(add(1,2,3,4,5,10))

25

In [17]:
area = lambda r: 3.14*r*r
print(area(5))
print(area(1))

78.5
3.14