<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/Python_M2_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [3]:
# simple function

def fun():
  print("hello world")
  print("Welcome")

print("before function call")
fun()
print("after function call")

before function call
hello world
Welcome
after function call

In [2]:
fun()

hello world

In [7]:
# function to print square of an integer

## without argument, without return value

def square():
  n = int(input("Enter an integer: "))
  print("square of ",n," = ",n*n)

square()

Enter an integer: 5
square of  5  =  25

In [9]:
# function to print square of an integer

## with arguments , with return value

def square(x):
  return x**2

n = int(input("Enter an integer: "))
sq = square(n)
print("square of ",n," = ",sq)

Enter an integer: 5
square of  5  =  25

In [11]:
# function to print square of an integer

## with arguments , without return value

def square(x):
  print("square of ",x," = ",x**2)

n = int(input("Enter an integer: "))
square(n)

Enter an integer: 5
square of  5  =  25

In [14]:
# function to print square of an integer

## without arguments , with return value

def square():
  x = int(input("Enter an integer: "))
  return (x,x**2)

n,sq = square()
print("square of ",n," = ",sq)

Enter an integer: 5
square of  5  =  25

In [15]:
# recursinve function

def fact(n):
  if n == 0:
    return 1
  else:
    return n*fact(n-1)

fact(5)

120

In [18]:
# return multiple values

def func():
  return 10,20,30,40   ### dont need to define it as tuple. python automatically makes it a tuple

a,b,c,d = func()
print(a,b,c,d)
print(func())
print(type(func()))

10 20 30 40
(10, 20, 30, 40)
<class 'tuple'>

In [24]:
def test1():
  list1 = [10,20,30]
  tuple1 = (30,40,50)
  return list1,tuple1

x,y = test1()

print(type(x))
print(x)
print(type(y))
print(y)

z = test1()
print(z)
print(type(z))

print(test1()[0])
print(test1()[0][1])
print(test1()[1][1:3])

<class 'list'>
[10, 20, 30]
<class 'tuple'>
(30, 40, 50)
([10, 20, 30], (30, 40, 50))
<class 'tuple'>
[10, 20, 30]
20
(40, 50)

In [32]:
## use underscore _ to ignore values which are not required

def func():
  return 10,20,30,40

_,val2,_,val4 = func()
print(val2,val4)

a,a,a,a = func()
print(a)

20 40
40