<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/python_day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List, Tuple, Dict

## List

In [ ]:
l1 = [10,20,3.14,3+4j,[100,200,300],'NTT',2*3j]
print(type(l1))
print(l1)

# indexing
print(l1[0],l1[-1])
print(l1[-3][1])

<class 'list'>
[10, 20, 3.14, (3+4j), [100, 200, 300], 'NTT', 6j]
10 6j
200

In [ ]:
# complex number data type  check
a = 3+4j

print(a)
print(type(a))

(3+4j)
<class 'complex'>

In [ ]:
# slicing
print(l1[0:5:1])
print(l1[0:5:2])
print(l1[::])
print(l1[::-1])

[10, 20, 3.14, (3+4j), [100, 200, 300]]
[10, 3.14, [100, 200, 300]]
[10, 20, 3.14, (3+4j), [100, 200, 300], 'NTT', 6j]
[6j, 'NTT', [100, 200, 300], (3+4j), 3.14, 20, 10]

In [ ]:
# concatenation of List

l2 = [20, 50, 46]
l3 = [9832, 424]

l4 = l2 + l3

print(l2)
print(l3)
print(l4)

print(id(l2))
print(id(l3))
print(id(l4))

[20, 50, 46]
[9832, 424]
[20, 50, 46, 9832, 424]
136921341437056
136921768501568
136921341438080

In [ ]:
# multiplication of list

l5 = [10, 201, 30]

print(l5)
print(l5*3)

[10, 201, 30]
[10, 201, 30, 10, 201, 30, 10, 201, 30]

In [ ]:
# iteration of list

l6 = [10, 20, 30, 40, 347, 23, 587]

for i  in l6:
  print(i)

for i  in l6:
  print(i+5)

10
20
30
40
347
23
587
15
25
35
45
352
28
592

In [ ]:
# membership operator --- IN / NOT IN

print(10 in [30, 229,4309, 38])
print(10 in [30, 229,4309, 38,10])

print(10 not in [30, 229,4309, 38])
print(10 not in [30, 229,4309, 38,10])


print('NTT' in 'NTT DATA')

False
True
True
False
True

In [ ]:
# deletion of list

l7 = [10, 20, 30]

print(l7)

del l7

print(l7)

[10, 20, 30]

NameError: name 'l7' is not defined

In [ ]:
l8 = [10,20,30]
l9 = [30,29]

print(l8*l9)

TypeError: can't multiply sequence by non-int of type 'list'

### inbuilt function

In [ ]:
# max()

l1 = [100,43,3843,4853980,121]

print(max(l1))

4853980

In [ ]:
l2 = [342,'fefew','zgsjag',4398743298]

print(max(l2))

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
l3 = ['aa','fefew','zgsjag','zzz']

print(max(l3))

print(max(l3,key=len))  #### can define own function and provide it as parameter to key

zzz
zgsjag

In [ ]:
# empty list throws error with max
# Default value to max()

l4 = []

print(max(l4))

print(max(l4,default=10))

ValueError: max() arg is an empty sequence

In [ ]:
# empty list throws error with max
# Default value to max()

l4 = []


print(max(l4,default=10))

10

### Append element to list

In [ ]:
# append list
# can append only 1 element at a time

l1 = [30,343,121,34]

print(l1)

l1.append(37432)

print(l1)

[30, 343, 121, 34]
[30, 343, 121, 34, 37432]

In [ ]:
print(id(l1[0]))
print(id(l1[1]))
print(id(l1[2]))
print(id(l1[3]))
print(id(l1[4]))

l1.append('NTT')

print(id(l1[5]))

10751784
136921342329296
10754696
10751912
136921342329744
136921768497968

In [ ]:
l1 = []

for i in range(6):
  n = int(input('Enter a number to append to list: '))
  l1.append(n)

print(l1)

Enter a number to append to list: 232
Enter a number to append to list: 2
Enter a number to append to list:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# extend method

l1 = [10,20,30]
l2 = [490,2250,160]

l1.extend(l2)

print(l1)

[10, 20, 30, 490, 2250, 160]

In [ ]:
# insert method

l3 = [33,432, 22232]

print(l3)
print(id(l3[0]))
print(id(l3[1]))
print(id(l3[2]))

print(id(l3))

l3.insert(1,100)
print(l3)
print(id(l3[0]))
print(id(l3[1]))
print(id(l3[2]))
print(id(l3[3]))

print(id(l3))

[33, 432, 22232]
10751880
136921311482704
136921311483184
136921310995264
[33, 100, 432, 22232]
10751880
10754024
136921311482704
136921311483184
136921310995264

In [ ]:
# remove method (it works on value.. which value you want to remove)

l1 = [10,323,2329,10,3843]

print(l1)

l1.remove(10)

print(l1)

[10, 323, 2329, 10, 3843]
[323, 2329, 10, 3843]

In [ ]:
# pop method (it works on index.. which index you want to remove)

l1 = list(range(10,100,10))

print(l1)
print(l1.pop())

print(l1)

print(l1.pop(5))
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
90
[10, 20, 30, 40, 50, 60, 70, 80]
60
[10, 20, 30, 40, 50, 70, 80]

In [ ]:
# clear (emtpy the list in place)

print(l1)
l1.clear()

print(l1)

[10, 20, 30, 40, 50, 70, 80]
[]

In [ ]:
# del (can delete, one element, a slice of list, or entire list)

l1 = list(range(10,300,10))
print(l1)

del l1[1]
print(l1)

del l1[-1]
print(l1)

del l1[1:3]
print(l1)

del l1[-1:-3:-1] # not working
print(l1)

del l1[-3:-1] #working
print(l1)

del l1
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290]
[10, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290]
[10, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280]
[10, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280]
[10, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260]
[10, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 260]

NameError: name 'l1' is not defined

In [ ]:
# remove duplicate in list

l1 = [10,20,10,30,40,50]
l2 = []

l1.sort()
print(l1)
l2.append(l1[0])

for i in range(1,len(l1)):
  if l1[i-1] != l1[i]:
    l2.append(l1[i])

print(l2)

[10, 10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
l1 = [10,20,10,30,40,50]
l2 = []

l1.sort()
print(l1)

for i in l1:
  if i not in l2:
    l2.append(i)

print(l2)

[10, 10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
# find 2nd largest number in the list

l1 = list(range(10,100,10))

print(l1)
m1 = max(l1)
l1.remove(m1)
m2 = max(l1)
print(l1)
print(m2)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80]
80

In [ ]:
# find 2nd largest number in the list

l1 = list(range(10,100,10))

print(l1)
l1.remove(max(l1))

print(l1)
print(max(l1))

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80]
80

In [3]:
## python evaluates right side first

a = 3
b = 7

print(a)
print(b)

a,b = b, a+b

print(a)
print(b)

a,b = b+5, b+5

print(a)
print(b)

a,b = b/5, 0

print(a)
print(b)

3
7
7
10
15
15
3.0
0