<a href="https://colab.research.google.com/github/richa-agarwal-de/python-machine-learning/blob/main/Python_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello World")

hello World

# Variable test - memory assigned to value not variable

In [ ]:
a = 100

print(id(a))

10754024

In [ ]:
 b = 100

 print(id(b))

10754024

In [ ]:
c = a
print(id(c))

10754024

### a, b , c all had same memory address. changing value of a changes address of a

In [ ]:
a = 50
print(id(a))

10752424

In [ ]:
print(b)
print(id(b))

100
10754024

In [ ]:
print({hex(10754024)})

{'0xa417e8'}

# variable assignement

In [ ]:
a = 10
b = 20
c = 30
print(a,b,c)

10 20 30

In [ ]:
a,b,c=40,50,60
print(a,b,c)

40 50 60

In [ ]:
a = 10
b = 10
c = 10
print(a,b,c)

10 10 10

In [ ]:
a=b=c=20
print(a,b,c)

20 20 20

# check list of keywords

### keywords are special words, reserved words,cannot be used as variables

In [ ]:
import keyword as kw

print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False = 10      # keywords cannot be used as variable
print(false)

SyntaxError: cannot assign to False (<ipython-input-26-5fd04c61f208>, line 1)

In [ ]:
false = 10    # keywords are case sensitive
print(false)

10

In [ ]:
'''
This is
a
multiline
comment
'''

' \nThis is\na\nmultiline\ncomment\n'

# Day 3 - Data types (LIst, Tuples, Dictionary, Set)

## List

In [ ]:
# Define list - collection / sequence of values of different data types
lst = [10, 23.5, 'aba', 3+4j, [23,32,487]]

print(type(lst)) ### type() to print the data type

print(lst)

<class 'list'>
[10, 23.5, 'aba', (3+4j), [23, 32, 487]]

## Variable Annotation

### use annotations at start of code to help other developers understand the data type of variables

In [ ]:
var1 : int = 10
print(var1)
print(type(var1))
print(__annotations__['var1'])

10
<class 'int'>
<class 'int'>

In [ ]:
var2 : int = 'NTT'
print(var2)
print(type(var2))
print(__annotations__['var2'])

NTT
<class 'str'>
<class 'int'>

In [ ]:
# isinstance()

if isinstance(var1,int)==True:
  print('var is int')

var is int

In [ ]:
# isinstance()

if isinstance(var2,int)==True:
  print('var is int')
else:
  print('var is not int')

var is not int

In [ ]:
str1 = 'Bangalore'
print(str1[1:1:1])

In [ ]:
str1 = 'Bangalore'
print(str1[1:2:1])

a

In [ ]:
str1 = 'Bangalore'
print(str1[1:2:-1])

In [ ]:
str1 = 'Bangalore'
print(str1[-1::])

e

In [ ]:
str1 = 'Bangalore'
print(str1[-1:-2:1])

In [ ]:
str1 = 'Bangalore'
print(str1[-1:-5:-1])

erol

In [ ]:
str1 = 'Bangalore'
print(str1[-10:-5:-1])

In [ ]:
str1 = 'Bangalore'
print(str1[1:1:1])

In [ ]:
str1 = 'Bangalore'
print(str1[3:0:-1])

gna

In [ ]:
str1 = 'Bangalore'
print(str1[-1:-12:-1])

erolagnaB

In [ ]:
str1 = 'Bangalore'
print(str1[1:2:1])

a

In [ ]:
str1 = 'Bangalore'
print(str1[-9:-1])

Bangalor

In [ ]:
s = 'Hello, world!'
print(s[-5:2:-2])

o o

In [ ]:
s = 'Python is fun!'

In [ ]:
print(s[::2][::-1])

nfs otP

In [ ]:
s = 'Programming'
print(s[3:len(s)-4])

gram

In [ ]:
# if else condition
if 10>5:
  print("in if")

print('out of if')

in if
out of if

In [ ]:
if 10>15:
  print("in if")

print('out of if')

out of if

In [ ]:
if 10>15:
  print("in if")
elif 10>12:
  print('in elif')

print('out of if')

out of if

In [ ]:
if 10>15:
  print("in if")
elif 10>12:
  print('in elif')
else:
  print('in else')

print('out of if')

in else
out of if

In [ ]:
# input function

a = input('Enter a value')
print(a)
print(type(a))

Enter a valuestr
str
<class 'str'>

In [ ]:
a = int(input('Enter a value'))
print(a)
print(type(a))

Enter a value5
5
<class 'int'>

In [ ]:
a = float(input('Enter a value'))
print(a)
print(type(a))

Enter a value11.1
11.1
<class 'float'>

In [ ]:
# palindrome string check

s = input('Enter a string').lower()

if s==s[::-1]:
  print('palindrome')
else:
  print('not palindrome')

Enter a stringMalayalam
palindrome

In [ ]:
# multiplication table using While loop

num = int(input('Enter a integer:'))
i=1
while i<=10:
  print(num,'*',i,'=',num*i)
  i+=1

Enter a integer:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# multiplication table using for loop
# multiplication table using for loop

num = int(input('Enter a integer: '))
for i in range(1,11):
  print(num,'*',i,'= ',num*i)

Enter a integer: 5
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50

In [ ]:
# for loop

for i in ((10,20),('a','b'),(10.1,22.3)):
  print(i)
  print(type(i))

(10, 20)
<class 'tuple'>
('a', 'b')
<class 'tuple'>
(10.1, 22.3)
<class 'tuple'>

In [ ]:
for i in range(0,11,3):
  print(i)

0
3
6
9

In [ ]:
# string concatenation

str1 = 'Python is'
str2 = 'awesome'
str3 = str1 + str2
print(str3)

Python isawesome

In [ ]:
# string multiplication or repetition
str4 = 'Love'
str5 = str4 * 3
print(str5)

LoveLoveLove

In [ ]:
# string is immutable.
str6 = 'NtTData'
print(str6)
print(str6[1])
str6[1] = 'T' ## this operation is not allowed
print(str6)

NtTData
t

TypeError: 'str' object does not support item assignment

In [ ]:
# deleting string using del
str7 = 'Python'
print(str7)

del str7
print(str7)

Python

NameError: name 'str7' is not defined

In [ ]:
# Manually find length of string

str8 = input('Enter a string: ')

counter = 0

for i in str8:
  counter+=1

print('Length of ', str8, ' is ', counter)

# using len function

print(len(str8))

Enter a string: Python
Length of  Python  is  6
6

In [ ]:
# Membership operator "in"

if 'a' in 'apple':
  print('yes')
else:
  print('no')

yes

In [ ]:
# Membership operator "in"

if 'b' in 'apple':
  print('yes')
else:
  print('no')

no

In [ ]:
# Membership operator "not in"

if 'a' not in 'apple':
  print('no')
else:
  print('yes')

yes

In [ ]:
# count occurrence of a substring

main_str = input('Enter the string: ')
sub_str = input('Enter the substring: ')

print(main_str.count(sub_str))

Enter the string: abenenen
Enter the substring: en
3

In [ ]:
# count occurrence of a substring

main_str = input('Enter the string: ')
sub_str = input('Enter the substring: ')

print(main_str.count(sub_str,0,3))

Enter the string: Bangalore
Enter the substring: g
0

In [ ]:
# startswith function : usecase to figure out if mobile number belong sto a particular country

m_no = input('Enter mobile number with country code: ')

if m_no.startswith('+91'):
  print('India')
elif m_no.startswith('+1'):
  print('US')
else:
  print('Other country')

Enter mobile number with country code: +91348378937
India

In [ ]:
# ends with function: usecase to check for website, emails, domains etc

url = input('Enter a url: ')

if url.endswith('.edu'):
  print('Educational website')
elif url.endswith('.in'):
  print('Indian website')
elif url.endswith('.com'):
  print('commercial website')
else:
  print('others')

Enter a url: dsfkdsh.com
commercial website

In [ ]:
# lstrip method

name = input('Enter your name: ')
print(name)
print(name.lstrip())

Enter your name:      Richa
     Richa
Richa

In [ ]:
# lstrip method

name = input('Enter your name: ')
print(name)
print(name.lstrip())

Enter your name:    R icha
   R icha
R icha

In [ ]:
# lstrip method

name = input('Enter your name: ')
print(name)
print(name.lstrip('*'))

Enter your name:    *Richa
   *Richa
   *Richa

In [ ]:
# lstrip method

name = input('Enter your name: ')
print(name)
print(name.lstrip('*'))

Enter your name: ** RIcha
** RIcha
 RIcha

In [ ]:
url = ['https://www.myntra.com','https://www.amazon.com','https://www.flipkart.com']
for i in url:
  print(i.lstrip('https://www.'))

myntra.com
amazon.com
flipkart.com

In [ ]:
url = ['https://www.myntra.com','https://www.amazon.com','https://www.flipkart.com']
for i in url:
  print(i.lstrip('htps://w.'))

myntra.com
amazon.com
flipkart.com

In [ ]:
url = ['https://www.myntra.com','https://www.amazon.com','https://www.flipkart.com']
for i in url:
  print(i.lstrip('swpth:/.'))

myntra.com
amazon.com
flipkart.com

In [ ]:
url = ['https://www.myntra.com','https://www.amazon.com','https://www.flipkart.com']
for i in url:
  print(i.lstrip('htp/.'))

s://www.myntra.com
s://www.amazon.com
s://www.flipkart.com

In [ ]:
# rstrip

url = ['https://www.myntra.com','https://www.amazon.com','https://www.flipkart.com','https://www.ajio.com']
for i in url:
  print(i.rstrip('htps.com'))

https://www.myntra
https://www.amazon
https://www.flipkar
https://www.aji

In [ ]:
# strip

url = ['https://www.myntra.com','https://www.amazon.com','https://www.flipkart.com','https://www.ajio.com']
for i in url:
  print(i.strip('htps.com'))

://www.myntra
://www.amazon
://www.flipkar
://www.aji

In [ ]:
# strip doesnt strip every character in between the string. only till the first mismatch found from both start and end

print('   Python is awesome   '.strip())

Python is awesome

In [ ]:
# ord method to find the ascii or unicode value of the characters

print(ord('a'))
print(ord('b'))
print(ord('c'))
print(ord('A'))
print(ord('B'))
print(ord('C'))
print(ord('Z'))

97
98
99
65
66
67
90

In [ ]:
s1 = 'AAnand'
s2 = 'ABhijit'

if s1>s2:
  print('s1 is greater')
else:
  print('s2 is greater')

s2 is greater

In [ ]:
# comparison operator

# ==, >, <, !=, >=, <=

In [ ]:
# replace method

s = '**  Python is awesome  **'

print(s.replace('*',''))
print(s.replace(' ',''))
print(s.replace(' ','*'))
print(s.replace('* ',''))

  Python is awesome
**Pythonisawesome**
****Python*is*awesome****
* Python is awesome  **

In [ ]:
s = 'Python is awesome '

print(s.replace(' ',','))
print(s.replace(' ',',',1))
print(s.replace(' ',',',2))

Python,is,awesome,
Python,is awesome
Python,is,awesome

In [ ]:
# Find method

s = 'I live in Bangalore, Bangalore is a beautiful place'

print(s.find('Bangalore'))

10

In [ ]:
s = 'I live in Bangalore, Bangalore is a beautiful place'

print(s.find('bangalore'))

-1

In [ ]:
s = 'I live in Bangalore, Bangalore is a beautiful place'

print(s.count('Bangalore'))

2

In [ ]:
# Rfind method

s = 'I live in Bangalore, Bangalore is a beautiful place'

print(s.rfind('Bangalore'))

21

In [ ]:
# Split method

s = 'I live in bangalore. bangalore is a beautiful place.'

print(s.split())

['I', 'live', 'in', 'bangalore.', 'bangalore', 'is', 'a', 'beautiful', 'place.']

In [ ]:
s = 'I live in bangalore. bangalore is a beautiful place.'

print(s.split(''))

ValueError: empty separator

In [ ]:
s = 'I live in bangalore. bangalore is a beautiful place.'

print(s.split(' ',2))

['I', 'live', 'in bangalore. bangalore is a beautiful place.']

In [ ]:
s = 'india, usa, australia,nz'
print(s.split())
print(s.split(','))
print(s.split(', '))

['india,', 'usa,', 'australia,nz']
['india', ' usa', ' australia', 'nz']
['india', 'usa', 'australia,nz']

In [ ]:
|